{% extends "main/base.html" %}{% load static from staticfiles %}
{% block content %}
		<div class="span12">
		    <ul class="breadcrumb">
			<li><a href="{% url "main:index" %}">Home</a> <span class="divider">></span></li>
			<li><a href="#">London students</a> <span class="divider">></span></li>
			<li class="active">{{ student.fullname }}</li>
		    </ul>
		</div>
		<div class="span12">
		    <div class="row">
			<div class="span3">
			    <ul class="thumbnails">
				<li class="span3">
				    <div class="thumbnail student-profile">
					<img alt="200x200" class="pic" src="">
					<div class="caption">
					    students profile
					</div>
				    </div>
				</li>
			    </ul>
			</div>
			<div class="span9 student-mainbar-info">
				<h1>{{ student.fullname }}</h1>
			    <ul class="nav nav-tabs" id="descTab">
				<li class="active"><a href="#bookings">Bookings</a></li>
			    </ul>
    
			    <div class="tab-content">

                    <div class="tab-pane bookings-student active" id="bookings">
                        <ul class="thumbnails">
                        {% for booking in student.user.bookings.all %}
                            <li>{{ booking.slot.tutor }}: {{ booking.slot }} ({{ booking.slot_type }})</li>
                        {% endfor %}
                        </ul>
                    </div>
			    </div>
			</div>
		    </div>
		</div>
{% endblock %}

{% block scripting %}
    {{ super }}
    <script type="text/javascript">
	    $(document).ready(function(){
            $('#descTab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
        });
	</script>
{% endblock %}