<!DOCTYPE HTML>{% load static from staticfiles %}{% load components %}
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/jquery.countdown.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <script type="text/javascript" src="{% static 'js/jquery-1.7.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.util.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.rpc.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ajax-csrf.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% url 'api' %}"></script>
    {% block extrahead %}{% endblock %}
</head>
<body>
<div class="container">
    <div class="row header">
        {% block header %}
            <div class="span3 ">
                {% block branding %}
                    <a href="{% url 'main:index' %}" class="logo">
                        <span class="title">Tutor-in</span>
                        <span class="subtitle">Tutors engine</span>
                    </a>
                {% endblock %}
            </div>
            <div class="span9">
                <div class="top-menu">
                    {% block mainmenu %}
                        {% if request.user.is_anonymous %}
                        <a href="#" class="btn">Take a Tour</a>
                        <a href="{% url "accounts:register" %}" class="btn">Sign Up</a>
                        <a href="{% url "accounts:login" %}" class="btn">Sign In</a>
                        {% else %}
                        <div class="top-menu">
                        {# TODO replace request.user.username with user.get_profile.fullname when all profile types will be ready #}
                        {% active_order %}
			            <span class="tutor-name"><a href="{% url "accounts:profile" %}">{{ request.user.username }}</a></span>
                        <a href="{% url "accounts:logout" %}" class="btn">Sign Out</a>
		                </div>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>

    <div class="row wrapper">
        {% block content %}
        {% endblock %}
    </div>

    <div class="row footer">
        {% block footer %}
            <div class="span12">
                <div class="copy well">Footer</div>
            </div>
        {% endblock %}
    </div>

</div>
{% block modals %}{% endblock %}
{% block scripting %}{% endblock %}
</body>
</html>