{% extends "main/base.html" %}{% load static from staticfiles %}
{% load components %}
{% block extrahead %}
    {{ super }}
    <link rel="stylesheet" href="{% static "css/datepicker.css" %}" />
    <script type="text/javascript" src="{% static "js/bootstrap-datepicker.js" %}"></script>
{% endblock %}
{% block content %}

    <div class="span12">
        {% include "main/blocks/carousel.html" %}
    </div>

    {% slot_search %}

    <div class="span12">
        <div class="categiries-gallery">
            <h2 class="title">Categories</h2>
            <ul class="thumbnails">
                {% for category in categories %}
                    <li class="span3">
                        <a href="#" class="thumbnail">
                            <img src="" alt="">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="span12">
        <div class="tutors-gallery">
            <h2 class="title">Tutors</h2>
            <ul class="thumbnails">
                {% for tutor in tutors %}
                    <li class="span3">
                        <a href="#" class="thumbnail">
                            <img src="" alt="">
				    <span class="thumbnail-popover">
                    {{ tutor }}<br/>
					Extra information on tutor
				    </span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>


{% endblock %}

{% block scripting %}
    {{ super }}
    <script type="text/javascript">
        $(document).ready(function () {
            var dp = $('.datepicker');
            dp.datepicker();
        });
    </script>
{% endblock %}