{% extends "main/base.html" %}{% load static from staticfiles %}
{% load components %}
{% block extrahead %}
    {{ super }}
    <link rel="stylesheet" href="{% static "css/datepicker.css" %}"/>
    <script type="text/javascript" src="{% static "js/bootstrap-datepicker.js" %}"></script>
{% endblock %}
{% block content %}

    <div class="span12">
        {% include "main/blocks/carousel.html" %}
    </div>

    {% slot_search %}

    <div class="span12">
        <div class="search-results">
            <h2 class="title">Search results</h2>
            <ul class="thumbnails">
                {% for slot in slots %}
                    <li class="span12">
                        <a href="#" class="thumbnail make-booking-js" data-slot-id="{{ slot.id }}"
                           data-slot-online="{{ slot.is_online }}" data-slot-home="{{ slot.is_home }}" data-slot-away="{{ slot.is_away }}">
                            <p>{{ slot.tutor }}</p>
                            <p>{{ slot.start }} - {{ slot.end }}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}

{% block modals %}
    {{ super }}
    <div class="modal hide fade booking-type" id="booking-type-modal" style="text-align: left;">
	    <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Choose type of slot</h3>
	    </div>
		<div class="modal-footer">
		    <button class="btn btn-default booking-type-js" id="booking-type-online-js" data-type='0' title="Online">Online</button>
		    <button class="btn btn-default booking-type-js" id="booking-type-home-js" data-type='1' title="At home">At home</button>
		    <button class="btn btn-default booking-type-js" id="booking-type-away-js" data-type='2' title="Away">Away</button>
            <button class="btn btn-danger" id="cancel-booking-js" title="Cancel">Cancel</button>
		</div>
	</div>

{% endblock %}

{% block scripting %}
    {{ super }}
    <script type="text/javascript">
        $(document).ready(function () {
            var dp = $('.datepicker');
            var modal = $("#booking-type-modal");
            var slot_id = null;
            dp.datepicker();

            $(".make-booking-js").on('click', function(e) {
                e.preventDefault();
                slot_id = $(this).data('slot-id');
                if($(this).data('slot-online')=="True") {
                    $("#booking-type-online-js").removeAttr("disabled");
                } else {
                    $("#booking-type-online-js").attr("disabled","disabled");
                }
                if($(this).data('slot-home')=="True") {
                    $("#booking-type-home-js").removeAttr("disabled");
                } else {
                    $("#booking-type-home-js").attr("disabled","disabled");
                }
                if($(this).data('slot-away')=="True") {
                    $("#booking-type-away-js").removeAttr("disabled");
                } else {
                    $("#booking-type-away-js").attr("disabled","disabled");
                }

                modal.modal('show');

            });
            $(".booking-type-js").on('click', function() {
                var slot_type = $(this).data('type');
                BookingApi.order_create(slot_id, slot_type, function(response) {
                    if(response.success) {
                        if (response.anonymous) {
                            window.location.replace("{% url "accounts:login" %}?next={% url "bookings:order" %}");
                        } else {
                            window.location.replace("{% url "bookings:order" %}");
                        }
                    } else {
                        alert(response.msg)
                    }
                });
            })

            $("#cancel-booking-js").on('click', function() {
                modal.modal('hide');
            })
        });
    </script>
{% endblock %}