body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Stage_1_-_Tutor_details_-_About_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:120px;
    top:30px;
    width:130px;
    height:60px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:130px;
    height:60px;
}

.u1 {
    position:absolute;
    left:2px;
    top:22px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:120px;
    top:30px;
    width:130px;
    height:60px
}

.u2 {
    position:absolute;
    left:800px;
    top:35px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u3 {
    position:absolute;
    left:908px;
    top:35px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4 {
    position:absolute;
    left:690px;
    top:35px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5_original {
    background-image: url('../Stage_1_-_Tutor_details_-_About_files/u5_original.png');
}

.u5_container {
    position:absolute;
    left:120px;
    top:110px;
    width:890px;
    height:580px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:896px;
    height:586px;
}

.u6 {
    position:absolute;
    left:2px;
    top:282px;
    width:886px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:120px;
    top:110px;
    width:890px;
    height:580px
}

.u7_original {
    background-image: url('../Stage_1_-_Tutor_details_-_About_files/u7_original.png');
}

.u7_container {
    position:absolute;
    left:140px;
    top:175px;
    width:185px;
    height:185px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:185px;
    height:185px;
}

.u8 {
    position:absolute;
    left:2px;
    top:84px;
    width:181px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:140px;
    top:175px;
    width:185px;
    height:185px
}

.u9 {
    position:absolute;
    left:215px;
    top:254px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_original {
    background-image: url('../Stage_1_-_Tutor_details_-_About_files/u10_original.png');
}

.u10_container {
    position:absolute;
    left:340px;
    top:227px;
    width:644px;
    height:443px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:650px;
    height:449px;
}

.u11 {
    position:absolute;
    left:2px;
    top:214px;
    width:640px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:340px;
    top:227px;
    width:644px;
    height:443px
}

.u12_original {
    background-image: url('../Stage_1_-_Tutor_details_-_About_files/u12_original.png');
}

.u12_container {
    position:absolute;
    left:340px;
    top:227px;
    width:161px;
    height:31px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:37px;
}

.u13 {
    position:absolute;
    left:2px;
    top:8px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:340px;
    top:227px;
    width:161px;
    height:31px
}

.u14_original {
    background-image: url('../Stage_1_-_Tutor_details_-_About_files/u14_original.png');
}

.u14_container {
    position:absolute;
    left:501px;
    top:227px;
    width:161px;
    height:31px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:37px;
}

.u15 {
    position:absolute;
    left:2px;
    top:8px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:501px;
    top:227px;
    width:161px;
    height:31px
}

.u16_original {
    background-image: url('../Stage_1_-_Tutor_details_-_About_files/u14_original.png');
}

.u16_container {
    position:absolute;
    left:662px;
    top:227px;
    width:161px;
    height:31px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:37px;
}

.u17 {
    position:absolute;
    left:2px;
    top:8px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:662px;
    top:227px;
    width:161px;
    height:31px
}

.u18_original {
    background-image: url('../Stage_1_-_Tutor_details_-_About_files/u14_original.png');
}

.u18_container {
    position:absolute;
    left:823px;
    top:227px;
    width:161px;
    height:31px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:37px;
}

.u19 {
    position:absolute;
    left:2px;
    top:8px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:823px;
    top:227px;
    width:161px;
    height:31px
}

.u20_original {
    background-image: url('../Stage_1_-_Tutor_details_-_About_files/u20_original.png');
}

.u20_container {
    position:absolute;
    left:120px;
    top:710px;
    width:890px;
    height:40px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:896px;
    height:46px;
}

.u21 {
    position:absolute;
    left:2px;
    top:12px;
    width:886px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:120px;
    top:710px;
    width:890px;
    height:40px
}

.u22 {
    position:absolute;
    left:142px;
    top:138px;
    width:228px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:340px;
    top:178px;
    width:240px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:140px;
    top:368px;
    width:200px;
    height:278px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_line {
    background-image: url('../Stage_1_-_Tutor_details_-_About_files/u25_line.png');
}

.u25_line {
    position:absolute;
    left:340px;
    top:214px;
    width:650px;
    height:3px;
}

.u25 {
    position:absolute;
    left:340px;
    top:214px;
    width:650px;
    height:3px
}

.u26 {
    position:absolute;
    left:360px;
    top:274px;
    width:600px;
    height:384px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

