{% load static %}
{% if active_order %}

    <div style="display:inline;" id="current-order-js">
        <span class="active_order">
            <a href="{% url "bookings:order" %}">my order <div class="order-jstimer"  style="display:inline;"></div></a>
        </span>
    </div>

    <div class="modal hide fade order-extend-time" id="order-extend-time-modal" style="text-align: left;">
	    <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Message alert</h3>
	    </div>
	    <div class="modal-body">
		    Your order is about to expire. <br/>
            Do you wand to extend reserve time?
		</div>
		<div class="modal-footer">
		    <button class="btn btn-info" id="extend-time-js" title="Yes">Yes</button>
            <button class="btn btn-info" id="cancel-time-js" title="No">No</button>
		</div>
	</div>

<script type="text/javascript">
    $(document).ready(function() {
        var time_remain = {{ active_order.time_remain }};
        var modal = $("#order-extend-time-modal");
        var timer = $(".order-jstimer");

        function timer_highlight(periods) {
            if ($.countdown.periodsToSeconds(periods) == 60) {
                $(this).addClass('countdown_highlight');
                modal.modal("show");
            }
        }

        function timer_expire() {
            timer.countdown('destroy');
            $("#current-order-js").hide();
        }

        function init_timer(until) {
            timer.countdown('destroy');
            timer.removeClass('countdown_highlight');
            timer.countdown({
               until: until,
               compact: true,
               onExpiry: timer_expire,
               onTick: timer_highlight
            });
        }
        init_timer(time_remain);
        $("#extend-time-js").on('click', function(e) {
            modal.modal("hide");
            BookingApi.order_renew({{ active_order.id }}, function(response) {
                if(response.success) {
                    init_timer(response.order.time_remain);
                } else {
                    alert(response.msg);
                }
            });
        });
        $("#cancel-time-js").on('click', function(e) {
            modal.modal("hide");
        });
    });

</script>
{% endif %}