{% load static from staticfiles %}
<div id="myCarousel" class="carousel slide index-carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item"><img src="{% static "img/bootstrap-mdo-sfmoma-01.jpg" %}" alt=""></div>
        <div class="item"><img src="{% static "img/bootstrap-mdo-sfmoma-02.jpg" %}" alt=""></div>
        <div class="item"><img src="{% static "img/bootstrap-mdo-sfmoma-03.jpg" %}" alt=""></div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.carousel').carousel({
            interval: 2000
        });
    });
</script>