    <div class="span12">
        <div class="search-form well">
            <form class="form-inline error" action="{% url "main:search" %}" method="post">{% csrf_token %}
                <div class="input-prepend{% if slot_search_location_error %} control-group error{% endif %}">
                    <span class="add-on"><i class="icon-map-marker"></i></span>
                    <input class="span3" type="text" name="location" value="{{ slot_search_location }}" placeholder="Location">
                </div>
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-eye-open"></i></span>
                    <input class="span3" type="text" name="subject" value="{{ slot_search_subject }}" placeholder="Subject">
                </div>
                <div class="input-append">
                    <input class="span3 datepicker" name="date" type="text" value="{{ slot_search_date }}"
                           data-date-format="dd-mm-yyyy" placeholder="Upcoming">
                    <button class="btn" type="button"><i class="icon-calendar"></i></button>
                </div>
                <button type="submit" class="btn btn-info bt-search"><i class="icon-search icon-white"></i>Search
                </button>
            </form>
        </div>
    </div>
