/* ----------- Restart-----------------*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,menu,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

article,aside,figure,footer,header,hgroup,nav,section {
	display: block;
}

nav ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	outline:none;
}

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title],dfn[title] {
	border-bottom: 1px dotted #000;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

input,select {
	vertical-align: middle;
}

/* ----------- End Restart-----------------*/
	/*---------------------------- TEXT STYLES ----------------------------*/
a {
	text-decoration: none;
	font-style: italic;
	color: #6699cc;
}

a:hover {
	text-decoration: underline;
}

h1,h2,h3,h5,h6 {
	color: #454545;
	line-height: 1.5em;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 100;
	font-family: 'DroidSerifItalic';
	font-style: italic;
}

h4 {
	color: #454545;
	line-height: 1.5em;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 100;
	font-family: 'DroidSerifBold';
	font-weight: bold;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
	color: #6a6a6a;
	text-decoration: none;
}

h1 a:hover {
	color: #454545;
	text-decoration: none;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 21px;
	margin-bottom:13px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 17px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 15px;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ebebeb;
	margin: 0;
	margin-top: 3px;
	margin-bottom: 3px;
	padding: 0;
}

.hr {
	height: 1px;
	background-image: url(../images/hr.gif);
	background-repeat: repeat-x;
	background-color: transparent;
	background-position: top;
	border-top: 0px;
	margin: 0px;
}

p {
	margin-bottom: 15px;
	margin-top: 15px;
}

ol {
	margin-left: 35px;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

.alignleft {
	float: left;
	margin-right: 10px;
}

.alignright {
	float: right;
	margin-left: 10px;
}

code {
 
	border: 1px dashed #d3d3d3;
	font: normal 13px;
	padding: 2px;
	padding-left:7px;
	padding-right:7px;
}

.hihglight1 {
	background-color: #E6E8E8;
	border: 1px solid #CCC;
	padding: 2px;
	color: #000000;
	padding-left:5px;
	padding-right:5px;
	font-style:italic;
}

.hihglight2 {
	background-color: #666;
	border: 1px solid #333;
	padding: 2px;
	color: #FFF;
	padding-left:5px;
	padding-right:5px;
	font-style:italic;
}

blockquote {
	margin: 20px;
	border-left: 5px solid #d0d4d8;
	padding-left: 25px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-style: italic;
	line-height: 1.5em;
	background: transparent url(../images/quote.png) no-repeat scroll top
		left;
	background-position: top left;
}


.info_box,.note_box,.tip_box,.error_box,tip_box {
	padding: 20px;
	margin: 20px 0px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-khtml-border-radius: 10px;
	border-radius: 7px;
	padding-left: 55px;
	background: #eee;
	font-style:italic;
}

.info_box {
	background: #ddf3fc url(../images/icons/info.png) no-repeat scroll 10px
		14px;
	border: 1px solid #8ed9f6;
	color: #2e6093;
}

.note_box {
	background: #fffadb url(../images/icons/note.png) no-repeat scroll 10px
		15px;
	border: 1px solid #f5d145;
	color: #9e660d;
}

.error_box {
	background: #ffdede url(../images/icons/error.png) no-repeat scroll 10px
		15px;
	border: 1px solid #d97676;
	color: #cd0a0a;
}

.tip_box {
	background: #eff7d9 url(../images/icons/tip.png) no-repeat scroll 10px
		15px;
	border: 1px solid #b7db58;
	color: #5d791b;
}


.table {
	border:1px solid #D8D8D8;
	border-collapse:collapse;
	margin-bottom:20px;
	margin-top:20px;

}

.table th {
	
	padding:10px;
	padding-left:15px;
	padding-right:15px;
	background-color: #f1f2f4;
	border-right:1px solid #D8D8D8;
	font-size:14px;
	font-style:italic;
	
}


.table td {
	border:1px solid #D8D8D8;
	padding:10px;
	padding-left:15px;
	padding-right:15px;
}

.table td:hover {
	background-color: #f1f2f4;
}


.drop-caps{
	
	font-family: 'DroidSerifRegular';
	font-size: 300%; 
	line-height: 0.8em;
	margin-right: 0.1em; 
	padding-bottom: 0.1em;
	text-transform:uppercase;
	float:left;
	position:relative;
	top:4px;

}

/* --------------------- BULLETS --------------------- */



ul.bullet_check li{
		list-style:none;
		background:transparent url(../images/check.png) no-repeat 0 .2em;
		padding:0px;
		margin:7px;
		line-height:18px;
		padding-left:25px;

}

ul.bullet_arrow li{
	list-style:none;
	background:transparent url(../images/arrow.png) no-repeat 0 .2em;
	padding:0px;
	margin:7px;
	line-height:18px;
	padding-left:25px;

}

ul.bullet_arrow2 li{
	list-style:none;
	background:transparent url(../images/arrow2.png) no-repeat 0 .2em;
	padding:0px;
	margin:7px;
	line-height:18px;
	padding-left:25px;

}

ul.bullet_arrow3 li{
	list-style:none;
	background:transparent url(../images/arrow3.png) no-repeat 0 .2em;
	padding:0px;
	margin:7px;
	line-height:18px;
	padding-left:25px;

}

ul.bullet_arrow4 li{
	list-style:none;
	background:transparent url(../images/arrow4.png) no-repeat 0 .2em;
	padding:0px;
	margin:7px;
	line-height:18px;
	padding-left:25px;

}


ul.bullet_numeric li{
	list-style:none;
	list-style:decimal;
	padding-left:20px;
}


ul.bullet_star li{
		list-style:none;
		background:transparent url(../images/star.png) no-repeat 0 .2em;
		padding:0px;
		margin:7px;
		line-height:18px;
		padding-left:25px;

}


ul.bullet_dblue li{
	list-style:none;
	background:transparent url(../images/bullets/dblue.gif) no-repeat 0 .2em;
	padding-left:20px;
}

ul.bullet_ddblue li{
	list-style:none;
	background:transparent url(../images/bullets/ddblue.gif) no-repeat 0 .2em;
	padding-left:20px;
}

ul.bullet_brown li{
	list-style:none;
	background:transparent url(../images/bullets/brown.gif) no-repeat 0 .2em;
	padding-left:20px;
}

ul.bullet_dbrown li{
	list-style:none;
	background:transparent url(../images/bullets/dbrown.gif) no-repeat 0 .2em;
	padding-left:20px;
}

ul.bullet_green li{
	list-style:none;
	background:transparent url(../images/bullets/green.gif) no-repeat 0 .2em;
	padding-left:20px;
}

ul.bullet_llblue li{
	list-style:none;
	background:transparent url(../images/bullets/llblue.gif) no-repeat 0 .2em;
	padding-left:20px;
}


ul.bullet_orange li{
	list-style:none;
	background:transparent url(../images/bullets/orange.gif) no-repeat 0 .2em;
	padding-left:20px;
}


/*---------------------------- END TEXT STYLES ----------------------------*/
body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #6a6a6a;
	line-height: 1.4em;
	background-color: #fff;
}

#main-container {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
}

#line-top {
	background-color: #535353;
	border-bottom: 1px solid #272727;
	height: 5px;
}

.center {
	height: auto;
	width: 960px;
	margin: auto;
	text-align: left;
	padding: 0px;
}

/*---------------------------- LOGO ----------------------------*/
#logo-container {
	width: 960px;
}

#logo-container {
	width: 478px;
	height: 85px;
	display: block;
	
	background-repeat: no-repeat;
	margin: auto;
	margin-top: 41px;
	text-decoration: none;
	text-align: center;
}

#logo-container div.title {
	font-family: 'DroidSansRegular';
	font-style: normal;
	font-size: 64px;
	color: #6a6a6a;
	margin: 50px 0 25px;
}

#logo-container div.subtitle {
	font-family: 'DroidSerifRegular';
	font-style: normal;
	font-size: 24px;
	color: #6a6a6a;
}

/*---------------------------- END LOGO ----------------------------*/
	/*-------------------------MENU---------------------------------*/
#menu-container {
	height: 47px;
	margin-top: 35px;
}

#menu {
	width: 960px;
	height: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#menu ul {
	margin: auto;
	text-align: center;
	margin: auto;
	display: block;
}

#menu ul li {
	display: inline;
}

#menu ul li a {
	text-transform: uppercase;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 15px;
	line-height: 0.2em;
	color: #535353;
	height: 10px;
	font-style: normal;
}

#menu ul li a:hover {
	color: #111;
	text-decoration: none
}

#menu ul li.selected a {
	color: #535353;
}

/*---------------------------SLIDER----------------------------*/

/*---- YOU CAN CHANGE YOUR MAIN COLORS HERE ----*/
#slider-container, #page-title{
	width: 100%;
	height: auto;
	position: relative;
	background-color:#6c8fba;
	/*
	HERE ARE SOME NICE COLORS (THE ONES FROM THE DEMO) THAT YOU CAN CHOOSE FROM:
    background-color:#b0b0b0;
    background-color:#919191; 
    background-color:#595959; 
    background-color:#d9ceb2;
    background-color:#ecd078; 
    background-color:#debf59;
    background-color:#c76a49;
	background-color:#913746; 
    background-color:#892642;
    background-color:#b38184;
    background-color:#7b3b3b;
    background-color:#542437;
    background-color:#bebd6d;
    background-color:#88a65e;
    background-color:#5e8c6a;
    background-color:#aaccb1;
    background-color:#5a8180;
	background-color:#53777a;
    background-color:#93b3c9;
    background-color:#6c8fba;
    background-color:#325166;
    background-color:#036564;
    background-color:#372c3e;
    background-color:#0e2430;
	*/
	
	margin-top: 7px;
	padding-bottom: 0px;
	background-image: url(../images/patterns/3.png);     /* PATTERNS AVAILABLE FROM 1.png to 21.png */
}


#page-title{
	margin-top: 7px;
	padding-bottom: 3px;
	color:#FFF;
}

#page-title h6{
	color:#FFF;
	margin-top: 7px;
	margin-bottom:7px;
	display:block;
}


#slider-container-shadow, #page-title-shadow {
	width: 100%;
	height: 5px;
	background-image: url(../images/shadow_sl.png);
	background-repeat: repeat-x;
	background-position: top;
}

#slider-container-shadow-bottom, #page-title-shadow-bottom  {
	width: 100%;
	height: 5px;
	background-image: url(../images/shadow_sl_bottom.png);
	background-repeat: repeat-x;
	background-position: bottom;
	position: absolute;
	bottom: 0px;
}

#slider {
	width: 922px;
	height: 214px;
	background-color: #fff;
	margin-top: 40px;
	margin-bottom:5px;
	position: relative;
	padding: 10px;
	background-color: #fff;
	-moz-box-shadow: 0px 0px 6px #666;
	-webkit-box-shadow: 0px 0px 6px #666;
	box-shadow: 0px 0px 6px #666;
	border: 10px solid #5e8c6a;
}

#slider-img-wrapper {
	overflow: hidden;
	position: relative;
	width: 942px;
	height: 316px;
}

#slider img {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 3;
	width: 942px;
	height: 314px;
	display: none;
}

#slider img.current {
	z-index: 10;
}

#slider-navigation-container {
	width: 100%;
	height: 111px;
	background-color: #fafafa;
	border-top: 1px solid #e1e1e1;
	padding-top: 7px;
	margin-top: 20px;
}

#slider-navigation {
	position: relative;
	overflow: hidden;
	width: 965px;
	height: 110px;
	left: 1px;
}

.slider_nav_tumb {
	width: 121px;
	height: 73px;
	display: block;
	background-image: url(../images/slider_nav_bg.png);
	background-repeat: no-repeat;
	padding: 7px;
	padding-top: 8px;
}

#slider-navigation .items {
	width: 20000em;
	position: absolute;
	height: 109px;
	top: 11px;
	left: 0px;
}

#slider-navigation .items div {
	float: left;
}

#slider-navigation .items img {
	width: 120px;
	height: 70px;
	background-image: url(../images/slider_nav_bg.png);
	background-repeat: no-repeat;
	padding: 7px;
	padding-bottom: 9px;
	padding-right: 8px;
	padding-top: 8px;
	margin-right: 31px;
}

#slider-navigation .items img.active {
	border: 0px solid #ccc;
	background-image: url(../images/slider_nav_bg_active.png);
	position: relative;
}

.browse {
	width: 41px;
	height: 41px;
	display: block;
	position: absolute;
}

#left-arrow {
	left: -32px;
	top: 40px;
	float: left;
	width: 20px;
	height: 29px;
	display: block;
	background-image: url(../images/slider_arrow_l.png);
	background-repeat: no-repeat;
}

#right-arrow {
	right: -38px;
	top: 40px;
	width: 20px;
	height: 29px;
	display: block;
	background-image: url(../images/slider_arrow_r.png);
	background-repeat: no-repeat;
}

/*-------------------------END SLIDER----------------------------*/
/*-------------------------NIVO SLIDER----------------------------*/

#nivo-slider-container {
	width: 942px;
	height: 314px;
	background-color: #fff;
	margin-top: 40px;
	margin-bottom:5px;
	position: relative;
	padding: 10px;
	background-color: #fff;
	-moz-box-shadow: 0px 0px 6px #666;
	-webkit-box-shadow: 0px 0px 6px #666;
	box-shadow: 0px 0px 6px #666;
}

#nivo-slider{
width:942px;	
}

#nivo-slider img{
	width: 942px;
	height: 314px;
}

.nivo-controlNav {
	position: absolute;
	bottom: -40px;
}

.nivo-controlNav a {
	width: 15px;
	height: 15px;
	background-image: url(../images/page_nav.png);
	background-repeat: no-repeat;
	float: left;
	list-style: none;
	margin-left: 3px;
	margin-right: 3px;
	display: block;
}

.nivo-controlNav a.active {
	background-image: url(../images/page_nav_active_black.png);
}

.nivo-nextNav{
	display:block;
	background-image:url(../images/nivo_arrow_r.png);
	background-repeat: no-repeat;
	width:20px;
	height:29px;
	margin-right:10px;
}

.nivo-prevNav{
	display:block;
	background-image:url(../images/nivo_arrow_l.png);
	background-repeat: no-repeat;
	width:20px;
	height:29px;
	margin-left:10px;
}

.nivo-caption p{
	padding:15px;	
	
}

	/*-------------------------CONTENT----------------------------*/
#content-container {
	height: auto;
	min-height: 50px;
	width: 960px;
	margin-top: 27px;
}


#content {
	float: left;
	height: auto;
	min-height: 200px;
	width: 600px;
}

#full-width{
	float: left;
	height: auto;
	min-height: 200px;
}

#site-intro {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}

.blog-post {
	margin-bottom: 45px;
}

.blog-post h1, .blog-post h1 a {
	font-size: 22px;
	margin-bottom: 13px;
	font-family: 'DroidSerifRegular';
	font-style:normal;
}

.post-info {
	color: #6a6a6a;
	float: left;
	font-size: 13px;
	margin-bottom: 25px;
	text-transform: uppercase;
	width: 100%;
	margin-top: -4px;
	position: relative;
}

.post-info a{
	font-style: normal;	
}


a.read-more {
	text-transform: lowercase;
	font-style: italic;
	color: #6699cc;
}

a.read-more:hover {
	text-decoration: none;
	color: #376da2;
}

.no-caps {
	text-transform: capitalize;
	font-style: italic;
}

.post-info ul li {
	display: inline;
	float: left;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 7px;
	border-right: 1px solid #e7e7e7;
}

.post-info ul li.post-info-comments {
	border-right: 0px;
	border-left: 1px solid #e7e7e7;
	float: right;
}

.post-info ul li.post-info-categories {
	border-right: 0px;
	width: 240px;
	padding-right: 5px;
}

.columns-wrapper {
	width: 960px;
	float: left;
	margin-bottom: 25px;
}

.columns-wrapper p{
	margin-bottom:7px;
	margin-top:7px;

}

.two-columns,.two-columns-2 {
	width: 457px;
	float: left;
	margin-right: 45px;
}

.two-columns-2 {
	margin-right: 0px;
}


.three-columns,.three-columns-3 {
	width: 290px;
	float: left;
	margin-right: 45px;
}

.three-columns-3 {
	margin-right: 0px;
}

.four-columns,.four-columns-4 {
	width: 205px;
	float: left;
	margin-right: 45px;
}

.four-columns-4 {
	margin-right: 0px;
}

.services-box, .pricing-box {
	background-color: #fafafa;
	border: 1px solid #e2e2e2;
	width: 238px;
	padding: 25px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-khtml-border-radius: 10px;
	border-radius: 7px;
	text-align: center;
	font-size: 15px;
}

.services-box a.button, .pricing-box a.button{
	width:217px;

}

.services-box h4, .pricing-box h4{
	background-image: url(../images/services_title_bg.gif);
	background-repeat: repeat-x;
	font-style: italic;
	margin-top: 0px;
	color: #535353;
	font-size:17px;
}

.services-box span, .pricing-box span {
	background-color: #fafafa;
	padding-left: 20px;
	padding-right: 20px;
}

.pricing-box ul li{
	float:left;
	
}

.price{
	
	font-family: "BebasRegular";
	font-size:34px;
	width:196px;
	float:left;
	margin-bottom:38px;
	margin-top:23px;
	text-align:center;
	line-height:35px;

}



/*-----------PORTFOLIO WITH PREVIEW -----------*/

.portfolio-big-img {
	margin-top: 19px;
	margin-bottom: 30px;
}

#portfolio-preview {
	float: left;
	height: auto;
	min-height: 200px;
	width: 600px;
}

#portfolio-preview h1, #portfolio-preview h1 a {
	font-size: 22px;
	margin-bottom: 13px;
	font-family: 'DroidSerifRegular';
	font-style:normal;
}

.portfolio-items {
	float: left;
	width: 300px;
	padding-left: 1px;
}

.portfolio-sidebar {
	height: auto;
	min-height: 200px;
	float: right;
	width: 270px;
	margin-top: 13px;
	font-size: 15px;
	overflow: hidden;
}

.portfolio-sidebar img.shadow-frame {
	padding: 7px;
	margin-right: 17px;
	margin-bottom: 20px;
}

.portfolio-sidebar h4 {
	font-family: "BebasRegular";
	font-size: 17px;
	font-style: normal;
	color:#747474;
	word-spacing:5px;
}

#portfolio-wrapper {
	margin-top: 22px;
	height: 395px;
}

#portfolio-big-pagination {
	margin-top: 10px;
	display: block;
	width: 270px;
	height: 30px;
	float: left;
	border-bottom: 1px solid #ebebeb;
	border-top: 1px solid #ebebeb;
	text-transform: uppercase;
	line-height: 26px;
}

.portfolio-big-arrows {
	font-size: 26px;
	line-height: 22px;
	position: relative;
	top: 2px;
}

#portfolio-big-pagination a {
	text-decoration: none;
	font-style:normal;
	color:#454545;
}

#portfolio-big-pagination a:hover {
	color: #333;
	text-decoration: none;
}

#portfolio-navigation {
	margin-top: 17px;
}

#portfolio-navigation ul {
	display: inline;
}

#portfolio-navigation ul li {
	float: left;
	width: 135px;
}

#portfolio-navigation ul li a {
	border-bottom: 0px;
	width: 135px;
}

#portfolio-navigation ul li a img {
	padding: 7px;
}



#sidebar-projects {
	float: left;
	width: 288px;
	padding-left: 1px;
	margin-top:10px;
	margin-bottom:10px;
	}

#sidebar-projects img {
	margin-bottom:0px;
	margin-right:0px;
	padding:7px;
	float:left;
}

#sidebar-projects li a {
	border-bottom:0px;
	width:124px;
	float:left;
	padding:0px;
	margin:0px;
	margin-bottom:20px;
	margin-right:20px;

}


/*------------------ GALLERY ---------------------*/

#gallery {
	margin-top: 45px;
	min-height:800px;
}

#gallery img {
	margin-right: 0px;
}

#gallery-categories {
	width: 100%;
	border-bottom: 1px solid #ebebeb;
	border-top: 1px solid #ebebeb;
	line-height: 29px;
}

#gallery-categories h6 {
	float: left;
	margin-top: 3px;
	margin-bottom: 0px;
	margin-right: 20px;
	margin-left: 3px;
}

#gallery-categories ul li {
	display: inline;
	padding-right: 30px;
	font-size: 14px;
	text-transform: uppercase;
	color: #a4a4a4;
	position: relative;
	top: -1px;
}

#gallery-categories ul li.selected,#gallery-categories ul li:hover {
	color: #6a6a6a;
}

/* pagination styles */
#portfolio-pagination {
	float: left;
	margin-top: 20px;
}

#portfolio-pagination ul{
	margin: 0;
	padding: 0;	
}

#portfolio-pagination ul li {
	width: 15px;
	height: 15px;
	background-image: url(../images/page_nav.png);
	background-repeat: no-repeat;
	float: left;
	list-style: none;
	margin-left: 3px;
	margin-right: 3px;
}

#portfolio-pagination ul li:hover,#portfolio-pagination ul li.selected {
	background-image: url(../images/page_nav_active_black.png);
}

/* item styles */

.portfolio-item {
	float: left;
	margin-right: 27px;
	margin-bottom: 27px;
	display: none;
	border: 0px solid #eef1f5;
	background-repeat: no-repeat;
}

.portfolio-item a{
	display: block;
}

.portfolio-item img{
	border-width:0px;
}

.page-wrapper {
	float: left;
}

/* category filter styles */

#portfolio-categories {
	width:100%;
	border-bottom:1px solid #ebebeb;
	border-top:1px solid #ebebeb;
	line-height:29px;
	float:left;
	margin-bottom:45px;

	
}

#portfolio-categories h6{
	float:left;
	margin-top:3px;
	margin-bottom:0px;
	margin-right:20px;
	margin-left:3px;
	
}

#portfolio-categories_left{
	display:none;	
}

#portfolio-categories_right{
	display:none;	
}


#portfolio-categories ul li {
	display:inline;
	padding-right:30px;
	font-size:14px;
	text-transform:uppercase;
	color:#a4a4a4;
	position:relative;
	top:-1px;
	float:left;
}

#portfolio-categories ul li.selected {
	color: #000;
}

#portfolio-categories ul li:hover a {
	text-decoration: none;
	font-style: normal;
}



.port_cat_l {
	display:none;
}

.port_cat_r {
	display:none;
}


.port_cat_active{
	display:inline;
	float:left;
}

.loading {
	width: 54px;
	height: 55px;
	background-image: url(../images/ajax-loader.gif);
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right:auto;
	margin-top:80px;
}


/*-------------------------END CONTENT----------------------------*/
#footer-container {
	background-color: #333333;
	width: 100%;
	height: auto;
	display: block;
	float: left;
	margin-top: 45px;
	padding-bottom: 25px;
}

#footer-container .hr {
	position: relative;
	top: -7px;
	left: 0px;
}

#footer-line {
	width: 100%;
	height: 7px;
	background-color: #2d2d2d;
	border-bottom: 1px solid #292929;
}

#footer {
	margin-top: 25px;
	color: #cbcbcb;
	font-size: 14px;
}

#footer h4 {
	color: #cbcbcb;
	font-family: "BebasRegular";
	font-size: 15px;
	word-spacing: 5px;
	font-style: normal;
}

#footer ul {
	text-decoration: none;
	list-style: none;
}

#footer ul li a {
	display: block;
	width: 205px;
	color: #cbcbcb;
	text-decoration: none;
	font-size: 14px;
	border-bottom: 1px solid #616161;
	padding-top: 7px;
	padding-bottom: 7px;
	font-style: normal;
}

#footer ul li a:hover {
	text-decoration: none;
	color: #eaeaea;
}

#footer hr {
	border-color: #616161;
}

#footer-icons {
	width: 206px;
	height: 50px;
}

#footer-icons ul {
	display: inline;
	height: 50px;
	width: 206px;
}

#footer-icons li {
	display: inline;
	list-style: none;
	float: left;
}

#footer-icons li {
	width: 32px;
	border-bottom: 0px;
	padding-right: 9px;
}

#footer #footer-icons ul li a {
	border-bottom: 0px;
}

#footer-icons a img {
	opacity: 0.9;
	filter: alpha(opacity =   90);
}

#footer-icons a img:hover {
	opacity: 1;
	filter: alpha(opacity =   100);
}

#footer p {
	margin-top: 10px;
}

#footer-projcets {
	margin-top: 10px;
}

#footer #footer-projcets ul li a {
	border-bottom: 1px solid #292929;
}

#footer-projcets ul {
	display: inline;
}

#footer-projcets ul li {
	float: left;
}

#footer-projcets ul li a {
	width: 80px;
	height: 80px;
	background-color: #2d2d2d;
	margin: 3px;
	padding: 7px;
	border: 1px solid #292929;
}

#footer-projcets ul li a:hover {
	background-color: #353535;
	border: 1px solid #292929;
}

#copyrights {
	width: 100%;
	height: 62px;
	float: left;
}

#copyrights h5 {
	font-size: 12px;
	font-style: italic;
	margin-top: 25px;
}

/*-------------------------SIDEBAR----------------------------*/
.sidebar {
	height: auto;
	min-height: 200px;
	float: right;
	width: 270px;
	margin-top: 11px;
	font-size: 15px;
}
.sidebar a{
	font-style:normal;
}

.sidebar-box{
	margin-bottom:25px;
	
}

.sidebar-box ul {
	text-decoration: none;
	list-style: none;
	margin-top: -4px;
}

.sidebar-box ul li a {
	display: block;
	width: 258px;
	color: #6a6a6a;
	text-decoration: none;
	border-bottom: 1px solid #ebebeb;
	padding: 6px;
}

.sidebar-box ul li a:hover {
	color: #373737;
}

.sidebar-box h4 {
	font-family: "BebasRegular";
	font-size: 17px;
	font-style: normal;
	color:#747474;
	word-spacing:4px;
}

.sidebar-box input[type='text']{
	width:260px;
	margin-bottom:10px;
	
	height:29px;
}

.double-hr{
	background-color:transparent;
	border-style:solid;
	height:3px;
	border-top:1px solid #ebebeb;
	border-bottom:1px solid #ebebeb;
	font-size:2px;
	margin-bottom:4px;
	margin-top:4px;
}

#footer .double-hr{
	border-top:1px solid #616161;
	border-bottom:1px solid #616161;

}

.sidebar-box .double-hr{
	
	margin-bottom:10px;

}




/*-------------------------END SIDEBAR----------------------------*/
	/* --------------------- BUTONS --------------------- */
a.button,a.button {
	background: transparent url(../images/buttons_a.gif) no-repeat scroll
		top right;
	display: inline-block;
	height: 49px;
	margin-right: 6px;
	margin-top: 0;
	padding-right: 20px;
	/* the same value as the width of buttons_a.gif  */
	text-decoration: none;
	color: #8e8e8e;
	font-style:normal;
}

a.button span,a.button span {
	background: transparent url(../images/buttons_span.gif) no-repeat top
		left;
	display: block;
	line-height: 21px;
	padding: 13px 42px 15px 61px;
	text-transform: uppercase;
	font-family: "BebasRegular";
	font-size: 19px;
	word-spacing: 4px;
}

a.button:hover,a.button:hover {
	color: #fff;
	background-position: bottom right;
	cursor: pointer;
	text-decoration: none;
}

a.button:hover span,a.button:hover span {
	color: #8e8e8e;
	background-position: bottom left;
	cursor: pointer;
}




a.button-small,a.button-small {
	background: transparent url(../images/buttons_small_a.gif) no-repeat scroll
		top right;
	display: inline-block;
	height: 35px;
	margin-right: 6px;
	margin-top: 0;
	padding-right: 20px;
	/* the same value as the width of buttons_a.gif  */
	text-decoration: none;
	color: #8e8e8e;
	font-style:normal;
}

a.button-small span,a.button-small span {
	background: transparent url(../images/buttons_small_span.gif) no-repeat top
		left;
	display: block;
	line-height: 21px;
	padding: 7px 12px 7px 31px;
	font-family:"Times New Roman", Times, serif;
	font-style:italic;
	font-size: 17px;
	word-spacing: 4px;
}

a.button-small:hover,a.button-small:hover {
	color: #fff;
	background-position: bottom right;
	cursor: pointer;
	text-decoration: none;
}

a.button-small:hover span,a.button-small:hover span {
	color: #8e8e8e;
	background-position: bottom left;
	cursor: pointer;
}



/*------------------ NEW - SLIDER ----------------------*/
.relative {
	position: relative;
}

img.shadow-frame {
	padding: 10px;
	background-color: #fff;
	-moz-box-shadow: 0px 0px 6px #c6c6c6;
	-webkit-box-shadow: 0px 0px 6px #c6c6c6;
	box-shadow: 0px 0px 6px #c6c6c6;
}


.image-margin{
	
	margin:5px;	
	
	
}

/*-------- NEW 2---------*/
#description-box {
	position: absolute;
	width: 922px;
	background-color: #000;
	z-index: 20;
	bottom: -100px;
	padding-left: 10px;
	padding-right: 10px;
	opacity: 0.8;
	filter: alpha(opacity =   80);
}

#description-box p {
	color: #fff;
}

#testimonials {
	background-color: #FFFFFF;
	height: auto;
	overflow: hidden;
	padding: 10px 0 5px 2px;
	width: 580px;
}

#testimonials img {
	float: left;
	margin-right: 10px;
	margin-bottom: 5px;
	cursor: pointer;
	opacity: 0.7;
	filter: alpha(opacity =   70);
	padding: 5px;
	-moz-box-shadow: 0px 0px 6px #c6c6c6;
	-webkit-box-shadow: 0px 0px 6px #c6c6c6;
	box-shadow: 0px 0px 6px #c6c6c6;
}

#testimonials img.current {
	cursor: default;
	opacity: 1;
	filter: alpha(opacity =   100);
}

#testimonials div {
	width: 0px;
	float: left;
	display: none;
	margin-right: 10px;
}

#testimonials div.first {
	width: 245px;
	display: block;
}

#testimonials div h3 {
	color: #444;
	margin: 0 0 -10px 0;
	width: 240px;
	font-size: 15px;
}

#testimonials div p {
	font-size: 12px;
	width: 240px;
	line-height: 1.8em;
	margin-top: 13px;
	margin-bottom: 0px;
}

/*---------- DROP DOWN ------------*/
#menu ul ul {
	width: 150px;
	top: 10px;
	left: 5px;
	padding-top: 12px;
	text-align: left;
	visibility:hidden;
}

#menu ul ul ul {
	top: -1px;
	left: 150px;
	padding: 0px;
	border: 1px solid #ebebeb;
}

#menu ul ul li a {
	font-family: 'DroidSerifR;
	font-size: 11px;
	padding-right: 0px;
	height: auto;
	text-align: left;
	line-height:30px;
	padding-left:10px;
	display:block;
}

#menu ul ul li {
	display: block;
	border-bottom: 1px solid #ebebeb;
	border-left: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
	background-color: #fff;
}

a.sf-with-ul {
	display: inline;
}


#menu ul .sf-sub-indicator{
	top:0px;
	top:6px;
	right:3px;
}

#menu ul ul li .sf-sub-indicator{
	top:0px;
}


/*------------------ TABS------------------*/

.tabs-container{
	min-height:200px;
}

/* root element for tabs  */
.tabs { 
	list-style:none; 
	margin:0 !important; 
	padding:0;
	height:45px;
	border-bottom:1px solid #cdcdcd;	
}

/* single tab */
.tabs li { 
	float:left;	 
	text-indent:0;
	padding:0;
	margin:0 !important;
	list-style-image:none !important; 
}

/* link inside the tab. uses a background image */
.tabs a { 
    background:url(../images/tabs.png) no-repeat 0 0  transparent;
	font-size:14px;
	display:block;
	height: 45px;  
	line-height:45px;
	width: 111px;
	text-align:center;	
	text-decoration:none;
	color:#6a6a6a;
	padding:0px;
	margin:0px;	
	position:relative;
	top:1px;
}

.tabs a:active {
	outline:none;		
}

/* when mouse enters the tab move the background image */
.tabs a:hover {
	background-position: 0 -46px;	
	color:#454545;	
}

/* active tab uses a class name "current". it's highlight is also done by moving the background image. */
.tabs .current, .tabs .current:hover, .tabs li.current a {
	background-position: 0 -92px;		
	cursor:default !important; 
	color:#000 !important;
	font-style:italic;
}

/* Different widths for tabs: use a class name: w1, w2, w3 or w2 */


/* width 1 */
.tabs .w1  			{ background-position: -519px 0; width:134px; }
.tabs .w1:hover 	{ background-position: -519px -46px; }
.tabs .w1.current { background-position: -519px -92px; }

/* width 2 */
.tabs .w2 			{ background-position: -366px -0px; width:154px; }
.tabs .w2:hover 	{ background-position: -366px -46px; }
.tabs .w2.current { background-position: -366px -92px; }


/* width 3 */
.tabs .w3 a			{ background-position: -247px -0px; width:174px;}
.tabs .w3:hover a 	{ background-position: -247px -46px; }
.tabs .w3 a.current  { background-position: -247px -92px; }

/* width 4 */
.tabs .w4 			{ background-position: -0px -0px; width:194px; }
.tabs .w4:hover 	{ background-position: -0px -46px; }
.tabs .w4.current { background-position: -0px -92px; }


/* initially all panes are hidden */ 
.panes .pane {
	display:none;
	border:1px solid red;
}

.panes{
 	padding:15px;
	border:1px solid #CCC;
	border-top:0px;
}


/*------------------- ACCORDION ------------------------*/


.accordion-container{
	height:350px;

}


/* root element for accordion. decorated with rounded borders and gradient background image */
#accordion {
	background:#fafafa;
	width: 300px;
	border:1px solid #e2e2e2;	
}

/* accordion header */
#accordion h2 {
	background:#ededed;
	margin:0;
	padding:10px 15px;
	font-size:14px;
	font-weight:normal;
	border:1px solid #fff;
	border-bottom:1px solid #ddd;
	cursor:pointer;		
}

/* currently active header */
#accordion h2.current {
	cursor:default;
	background-color:#fff;
}

/* accordion pane */
#accordion .pane {
	border:1px solid #fff;
	border-width:0 2px;
	display:none;
	height:155px;
	padding:15px;
	color:#6a6a6a;
	font-size:12px;
}

/* a title inside pane */
#accordion .pane h3 {
	font-weight:normal;
	margin:0 0 -5px 0;
	font-size:16px;
	color:#999;
}

#big-slider #slider {
	height: 450px;
}

#big-slider #slider-img-wrapper {
	height: 453px;
}

#big-slider #slider img {
	height: 450px;
}

.item-wrapper{
	float: left;
}

.item-desc{
	width:300px;
	margin-top:15px;
}

.item-desc h4{
	margin-bottom:0px;
}

.item-desc p{
	margin-top:10px;
	margin-bottom:5px;
}


/*------------- NEW ----------------*/

#nivo-slider img {
top:0px;
left:0px;
}



/*------------- CONTACT PAGE --------------*/

input {
	width: 300px;
	height: 24px;
	border: 1px solid #ccc;
	background-color: #fff;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

textarea {
	width: 300px;
	height: 150px;
	padding-top: 0px;
	font-family: Arial;
	font-size: 13px;
	padding-top: 8px;
	padding-bottom: 8px;
	border: 1px solid #ccc;
	padding-left: 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#submit_form{
	margin-top:25px;	
}

form h6{
	margin-bottom:3px;
}

.contact_message {
	z-index: 1000000;
}

.check {
	width: 24px;
	height: 24px;
	background-image: url(../images/ok.png);
	background-repeat: no-repeat;
}

.contact_loader {
	width: 32px;
	height: 32px;
	background-image: url(../images/contact-loader.gif);
	background-repeat: no-repeat;
}

#contact_status {
	margin-top:30px;

}

.invalid {
	border: 1px solid #ff6666;
}

#invalid_input {
	display: none;
}

#sent_successful {
	display: none;
}

.question_icon {
	width: 14px;
	height: 13px;
	background-image: url(../images/question_icon.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 35px;
	right: -40px;
	z-index: 2;
}

.contact_form_textarea .question_icon {
	top: 40px;
}

.contact_form_input, .contact_form_textarea{
	position: relative;
	width:290px;
}



.contact_message {
	background-color: #fff;
	border: 1px solid #ccc;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	width: 100px;
	position: absolute;
	top: 37px;
	right: 15px;
	z-index: 1;
	margin-bottom: 0px;
	font-size: 11px;
	padding-left: 5px;
	padding-right: 5px;
	z-index: 3000;
}

.contact_form_textarea .contact_message {
	top: 57px;
}

.contact_message p {
	margin-top: 5px;
	margin-bottom: 5px;
}

#contact_status div {
	float: left;
}

#contact_status span {
	float: left;
	margin-left: 10px;
	margin-top: 3px;
}

#slider-container{
	overflow: hidden;
}	


/*---------------- NEW -----------------*/

#gallery{
	padding-top:3px;
}

#map-canvas{
width:268px; 
height:268px;	
	background-color: #fff;
	-moz-box-shadow: 0px 0px 6px #c6c6c6;
	-webkit-box-shadow: 0px 0px 6px #c6c6c6;
	box-shadow: 0px 0px 6px #c6c6c6;
	border:1px solid #CCC;
	margin-top:25px;
}

	
	


/*---------------- LEFT SIDEBAR -----------------*/
/* remove this comment to move sidebar on the left*/
.sidebar-to-left #content {
	float: right;
}


.sidebar-to-left .sidebar {
	float: left;
}




