{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
		</div>
		<div class="span6">
			<h2>
				Login page
			</h2>
	        {% crispy form 'bootstrap' %}
		</div>
		<div class="span3">
		</div>
	</div>
</div>

{% endblock %}