{% extends "main/base.html" %}

{% block content %}

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
		</div>
		<div class="span6">
			<h2>
				{{ title }}
			</h2>
		</div>
		<div class="span3">
		</div>
	</div>
</div>

{% endblock %}