{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="Tutors engine">
<meta name="keywords" content="tutors">
<meta name=”google-site-verification” content=”zHnLchEo9GBI3Y47xVnex3ETQIWGaQ0t0zxBWZuMqYw” />
<title>Tutor-in</title>

<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/registration.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/fonts.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/needed_from_bootstrap.css' %}">
{#<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>#}
<script type="text/javascript" src="{% static 'js/jquery-1.7.2.min.js' %}"></script>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js" gapi_processed="true"></script>



<!--[if lte IE 6]>
<link href="styles/style_ie6.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="script/supersleight.js"></script>  
<![endif]-->
<!--[if lte IE 7]>
<link href="styles/style_ie7.css" rel="stylesheet" type="text/css" />  
<![endif]-->
<!--[if lte IE 8]>
<link href="styles/style_ie8.css" rel="stylesheet" type="text/css" />  
<![endif]-->
<!--END THE STYLES -->

<style>.gc-bubbleDefault{background-color:transparent !important;text-align:left;padding:0 !important;margin:0 !important;border:0 !important;table-layout:auto !important}.gc-reset{background-color:transparent !important;border:0 !important;padding:0 !important;margin:0 !important;text-align:left}.pls-bubbleTop{border-bottom:1px solid #ccc !important}.pls-topTail,.pls-vertShimLeft,.pls-contentLeft{background-image:url(//ssl.gstatic.com/s2/oz/images/stars/po/bubblev1/border_3.gif) !important}.pls-topTail{background-repeat:repeat-x !important;background-position:bottom !important}.pls-vertShim{background-color:#fff !important;text-align:right}.tbl-grey .pls-vertShim{background-color:#f5f5f5 !important}.pls-vertShimLeft{background-repeat:repeat-y !important;background-position:right !important;height:4px}.pls-vertShimRight{height:4px}.pls-confirm-container .pls-vertShim{background-color:#fff3c2 !important}.pls-contentWrap{background-color:#fff !important;position:relative !important;vertical-align:top}.pls-contentLeft{background-repeat:repeat-y;background-position:right;vertical-align:top}.pls-dropRight{background-image:url(//ssl.gstatic.com/s2/oz/images/stars/po/bubblev1/bubbleDropR_3.png) !important;background-repeat:repeat-y !important;vertical-align:top}.pls-vert,.pls-tailleft,.pls-dropTR .pls-dropBR,.pls-dropBL,.pls-vert img{vertical-align:top}.pls-dropBottom{background-image:url(//ssl.gstatic.com/s2/oz/images/stars/po/bubblev1/bubbleDropB_3.png) !important;background-repeat:repeat-x !important;width:100%;vertical-align:top}.pls-topLeft{background:inherit !important;text-align:right;vertical-align:bottom}.pls-topRight{background:inherit !important;text-align:left;vertical-align:bottom}.pls-bottomLeft{background:inherit !important;text-align:right}.pls-bottomRight{background:inherit !important;text-align:left;vertical-align:top}.pls-tailtop,.pls-tailright,.pls-tailbottom,.pls-tailleft{display:none;position:relative}.pls-tailbottom,.pls-tailtop,.pls-tailright,.pls-tailleft,.pls-dropTR,.pls-dropBR,.pls-dropBL{background-image:url(//ssl.gstatic.com/s2/oz/images/stars/po/bubblev1/bubbleSprite_3.png) !important;background-repeat:no-repeat}.tbl-grey .pls-tailbottom,.tbl-grey .pls-tailtop,.tbl-grey .pls-tailright,.tbl-grey .pls-tailleft,.tbl-grey .pls-dropTR,.tbl-grey .pls-dropBR,.tbl-grey .pls-dropBL{background-image:url(//ssl.gstatic.com/s2/oz/images/stars/po/bubblev1/bubbleSprite-grey.png) !important}.pls-tailbottom{background-position:-23px 0}.pls-confirm-container .pls-tailbottom{background-position:-23px -10px}.pls-tailtop{background-position:-19px -20px}.pls-tailright{background-position:0 0}.pls-tailleft{background-position:-10px 0}.pls-tailtop{vertical-align:top}.gc-bubbleDefault td{line-height:0;font-size:0}.pls-topLeft img,.pls-topRight img,.pls-tailbottom{vertical-align:bottom}.pls-bottomLeft img,.bubbleDropTR,.pls-dropBottomL img,.pls-dropBottom img,.pls-dropBottomR img,.pls-bottomLeft{vertical-align:top}.pls-dropTR{background-position:0 -22px}.pls-dropBR{background-position:0 -27px}.pls-dropBL{background-position:0 -16px}.pls-spacertop,.pls-spacerright,.pls-spacerbottom,.pls-spacerleft{position:static !important}.pls-spinner{bottom:0;position:absolute;left:0;margin:auto;right:0;top:0}
.social {
display: inline-block;
width: 308px;
left: 60%;
margin-top: 10px;
position: absolute;
}
.twitter{

}
.google{
float: left;
}
.fb{
float: left;
margin-right: 35px;
}</style></head>
<body>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_EN/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="main-container">
   <div id="line-top"></div>
<div class="social">
<div class="google"><div class="g-plusone" data-size="medium" data-href="http://tutor-in.com/"></div></div>
			<div class="fb"><div class="fb-like" data-href="http://tutor-in.com/" data-send="false" data-layout="button_count" data-width="45" data-show-faces="false"></div></div>
			<div class="twitter"><a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></div>
			
		</div>
  <div id="header">
    <div id="logo-container" class="center">
        <div class="title">Tutor-in</div>
		
        <div class="subtitle">Tutors engine</div>
    </div>
    <div id="slider-navigation-container">
	
      <div class="hr"></div>
      <div class="center relative">
        <div id="site-intro">
          <h2 style="font-family: 'Arial';">”The most striking of the findings is
that under the best learning conditions we can devise (<a href="http://www.comp.dit.ie/dgordon/Courses/ILT/ILT0004/TheTwoSigmaProblem.pdf">tutoring</a>)...” ~ Benjamin Bloom, Educational Researcher, 1984
</h2>
        </div>
      </div>
      <div class="hr"></div>
    </div>
    <div id="slider-container">
      <div id="slider-container-shadow"></div>
      <div class="center relative">
      <div class="columns-wrapper" style="color: #fff !important; margin-top: 20px; font-family: 'Arial'">
        In 1984, Benjamin Bloom demonstrated that average children taught with 1 to 1 tuition are in the top 5% of their class.  My objective is simple, to help as many people in the world get the best education possible.  If you can tutor anyone, in any subject, you can help average students get into the top 5% of their class.  I am seeking tutors who have demonstrated their ability by attending the world’s top Universities.  If you are willing to tutor, I will find you students.  I am building the website now.  Please register your interest below:

      </div>
      </div>

      
      <div id="slider-container-shadow-bottom"></div>
    </div>
    <div id="content-container" class="center">
    <div id="site-intro">
        {% if create %}<h2 style="color: green;">Successful</h2>
<div class="double-hr" style="margin-bottom: 20px; clear: both;"></div>{% endif %}
{% if form %}<a style="margin-left: {% if form2 %}195px; {% else %} -275px; {% endif %} margin-top: -20px;" class="button-small"><span>Sign up as a tutor</span></a>{% endif %}
{% if form2 %}<a style="margin-left: {% if form %}266px; {% else %} -266px; {% endif %}margin-top: -20px;" class="button-small"><span>Sign up as a student</span></a>{% endif %}
      <div class="double-hr"></div>
      <div id="subscription">
	{% if form %}
          <form action="/" method="POST" class="form-horizontal" style="float: left; width: 480px;">
              {% csrf_token %}
              <div class="control-group">
                <label class="control-label">{{ form.name.label }}</label>
                <div class="controls" style="margin-top: 5px;">
                  {{ form.name }}
                    {% if form.name.errors %}
                      <span class="help-inline">{{ form.name.errors }}</span>
                  {% endif %}
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">{{ form.email.label }}</label>
                <div class="controls" style="margin-top: 5px;">
                  {{ form.email }}
                  {% if form.email.errors %}
                      <span class="help-inline">{{ form.email.errors }}</span>
                  {% endif %}
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">{{ form.subject.label }}</label>
                <div class="controls" style="margin-top: 5px;">
                  {{ form.subject }}
                    {% if form.subject.errors %}
                      <span class="help-inline">{{ form.subject.errors }}</span>
                  {% endif %}
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">{{ form.university.label }}</label>
                <div class="controls" style="margin-top: 5px;">
                  {{ form.university }}
                  {% if form.university.errors %}
                      <span class="help-inline">{{ form.university.errors }}</span>
                  {% endif %}
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">{{ form.text.label }}</label>
                <div class="controls" style="margin-top: 5px;">
                  {{ form.text }}
                    {% if form.text.errors %}
                      <span class="help-inline">{{ form.text.errors }}</span>
                  {% endif %}
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <button type="submit" class="btn">Submit</button>
                </div>
              </div>
		<input type="hidden" name="form_id" value="1">
            </form>{% endif %}{% if form2 %}
	<form action="/" method="POST" class="form-horizontal" style="float: left; width: 480px;">
              {% csrf_token %}
              <div class="control-group">
                <label class="control-label">{{ form2.name.label }}</label>
                <div class="controls" style="margin-top: 5px;">
                  {{ form2.name }}
                    {% if form2.name.errors %}
                      <span class="help-inline">{{ form2.name.errors }}</span>
                  {% endif %}
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">{{ form2.email.label }}</label>
                <div class="controls" style="margin-top: 5px;">
                  {{ form2.email }}
                  {% if form2.email.errors %}
                      <span class="help-inline">{{ form2.email.errors }}</span>
                  {% endif %}
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">{{ form2.subject.label }}</label>
                <div class="controls" style="margin-top: 5px;">
                  {{ form2.subject }}
                    {% if form2.subject.errors %}
                      <span class="help-inline">{{ form2.subject.errors }}</span>
                  {% endif %}
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">{{ form2.location.label }}</label>
                <div class="controls" style="margin-top: 5px;">
                  {{ form2.location }}
                  {% if form2.location.errors %}
                      <span class="help-inline">{{ form2.location.errors }}</span>
                  {% endif %}
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">{{ form2.text.label }}</label>
                <div class="controls" style="margin-top: 5px;">
                  {{ form2.text }}
                    {% if form2.text.errors %}
                      <span class="help-inline">{{ form2.text.errors }}</span>
                  {% endif %}
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <button type="submit" class="btn">Submit</button>
                </div>
              </div>
		<input type="hidden" name="form_id" value="2">
            </form>{% endif %}
      </div>
      <div class="double-hr" style="margin-bottom: 20px; clear: both;"></div>
        

    </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	$(".button-small").click(function(){	
		$("html, body").animate({ scrollTop: $(document).height() }, 1000);
	})
})
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36029968-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


</body></html>
