body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Stage_1_-_Tutor_details_-Schedule_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:120px;
    top:30px;
    width:130px;
    height:60px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:130px;
    height:60px;
}

.u1 {
    position:absolute;
    left:2px;
    top:22px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:120px;
    top:30px;
    width:130px;
    height:60px
}

.u2 {
    position:absolute;
    left:800px;
    top:35px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u3 {
    position:absolute;
    left:908px;
    top:35px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4 {
    position:absolute;
    left:690px;
    top:35px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5_original {
    background-image: url('../Stage_1_-_Tutor_details_-Schedule_files/u5_original.png');
}

.u5_container {
    position:absolute;
    left:120px;
    top:110px;
    width:890px;
    height:550px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:896px;
    height:556px;
}

.u6 {
    position:absolute;
    left:2px;
    top:267px;
    width:886px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:120px;
    top:110px;
    width:890px;
    height:550px
}

.u7_original {
    background-image: url('../Stage_1_-_Tutor_details_-Schedule_files/u7_original.png');
}

.u7_container {
    position:absolute;
    left:140px;
    top:175px;
    width:185px;
    height:185px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:185px;
    height:185px;
}

.u8 {
    position:absolute;
    left:2px;
    top:84px;
    width:181px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:140px;
    top:175px;
    width:185px;
    height:185px
}

.u9 {
    position:absolute;
    left:215px;
    top:254px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_original {
    background-image: url('../Stage_1_-_Tutor_details_-Schedule_files/u10_original.png');
}

.u10_container {
    position:absolute;
    left:340px;
    top:227px;
    width:644px;
    height:318px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:650px;
    height:324px;
}

.u11 {
    position:absolute;
    left:2px;
    top:151px;
    width:640px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:340px;
    top:227px;
    width:644px;
    height:318px
}

.u12_original {
    background-image: url('../Stage_1_-_Tutor_details_-Schedule_files/u12_original.png');
}

.u12_container {
    position:absolute;
    left:340px;
    top:227px;
    width:161px;
    height:31px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:37px;
}

.u13 {
    position:absolute;
    left:2px;
    top:8px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:340px;
    top:227px;
    width:161px;
    height:31px
}

.u14_original {
    background-image: url('../Stage_1_-_Tutor_details_-Schedule_files/u14_original.png');
}

.u14_container {
    position:absolute;
    left:501px;
    top:227px;
    width:161px;
    height:31px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:37px;
}

.u15 {
    position:absolute;
    left:2px;
    top:8px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:501px;
    top:227px;
    width:161px;
    height:31px
}

.u16_original {
    background-image: url('../Stage_1_-_Tutor_details_-Schedule_files/u12_original.png');
}

.u16_container {
    position:absolute;
    left:662px;
    top:227px;
    width:161px;
    height:31px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:37px;
}

.u17 {
    position:absolute;
    left:2px;
    top:8px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:662px;
    top:227px;
    width:161px;
    height:31px
}

.u18_original {
    background-image: url('../Stage_1_-_Tutor_details_-Schedule_files/u12_original.png');
}

.u18_container {
    position:absolute;
    left:823px;
    top:227px;
    width:161px;
    height:31px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:37px;
}

.u19 {
    position:absolute;
    left:2px;
    top:8px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:823px;
    top:227px;
    width:161px;
    height:31px
}

.u20_original {
    background-image: url('../Stage_1_-_Tutor_details_-Schedule_files/u20_original.png');
}

.u20_container {
    position:absolute;
    left:120px;
    top:680px;
    width:890px;
    height:40px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:896px;
    height:46px;
}

.u21 {
    position:absolute;
    left:2px;
    top:12px;
    width:886px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:120px;
    top:680px;
    width:890px;
    height:40px
}

#u22 {
    position:absolute;
    left:360px;
    top:269px;
    width:605px;
    height:21px
}

.u22_table {
    background-image: url('../Stage_1_-_Tutor_details_-Schedule_files/u22_table.png');
}

.u22_table {
    position:absolute;
    left:-3px;
    top:-3px;
    width:609px;
    height:25px;
}

.u23_original {
    background-image: url('../Stage_1_-_Tutor_details_-Schedule_files/u23_original.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:16px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:48px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:16px
}

.u25_original {
    background-image: url('../Stage_1_-_Tutor_details_-Schedule_files/u25_original.png');
}

.u25_container {
    position:absolute;
    left:52px;
    top:0px;
    width:100px;
    height:16px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:52px;
    top:0px;
    width:100px;
    height:16px
}

.u27_original {
    background-image: url('../Stage_1_-_Tutor_details_-Schedule_files/u25_original.png');
}

.u27_container {
    position:absolute;
    left:152px;
    top:0px;
    width:100px;
    height:16px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:152px;
    top:0px;
    width:100px;
    height:16px
}

.u29_original {
    background-image: url('../Stage_1_-_Tutor_details_-Schedule_files/u25_original.png');
}

.u29_container {
    position:absolute;
    left:252px;
    top:0px;
    width:100px;
    height:16px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:252px;
    top:0px;
    width:100px;
    height:16px
}

.u31_original {
    background-image: url('../Stage_1_-_Tutor_details_-Schedule_files/u25_original.png');
}

.u31_container {
    position:absolute;
    left:352px;
    top:0px;
    width:100px;
    height:16px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:352px;
    top:0px;
    width:100px;
    height:16px
}

.u33_original {
    background-image: url('../Stage_1_-_Tutor_details_-Schedule_files/u25_original.png');
}

.u33_container {
    position:absolute;
    left:452px;
    top:0px;
    width:100px;
    height:16px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:452px;
    top:0px;
    width:100px;
    height:16px
}

.u35_original {
    background-image: url('../Stage_1_-_Tutor_details_-Schedule_files/u35_original.png');
}

.u35_container {
    position:absolute;
    left:552px;
    top:0px;
    width:48px;
    height:16px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:44px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:552px;
    top:0px;
    width:48px;
    height:16px
}

.u37_original {
    background-image: url('../Stage_1_-_Tutor_details_-Schedule_files/u37_original.png');
}

.u37_container {
    position:absolute;
    left:357px;
    top:296px;
    width:609px;
    height:31px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:615px;
    height:37px;
}

.u38 {
    position:absolute;
    left:2px;
    top:8px;
    width:605px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:357px;
    top:296px;
    width:609px;
    height:31px
}

.u39 {
    position:absolute;
    left:881px;
    top:304px;
    width:77px;
    height:19px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u40_original {
    background-image: url('../Stage_1_-_Tutor_details_-Schedule_files/u37_original.png');
}

.u40_container {
    position:absolute;
    left:357px;
    top:338px;
    width:609px;
    height:31px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:615px;
    height:37px;
}

.u41 {
    position:absolute;
    left:2px;
    top:8px;
    width:605px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:357px;
    top:338px;
    width:609px;
    height:31px
}

.u42 {
    position:absolute;
    left:881px;
    top:346px;
    width:77px;
    height:19px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u43_original {
    background-image: url('../Stage_1_-_Tutor_details_-Schedule_files/u43_original.png');
}

.u43_container {
    position:absolute;
    left:357px;
    top:380px;
    width:609px;
    height:30px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:615px;
    height:36px;
}

.u44 {
    position:absolute;
    left:2px;
    top:7px;
    width:605px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:357px;
    top:380px;
    width:609px;
    height:30px
}

.u45 {
    position:absolute;
    left:881px;
    top:387px;
    width:77px;
    height:19px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u46_original {
    background-image: url('../Stage_1_-_Tutor_details_-Schedule_files/u37_original.png');
}

.u46_container {
    position:absolute;
    left:357px;
    top:421px;
    width:609px;
    height:31px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:615px;
    height:37px;
}

.u47 {
    position:absolute;
    left:2px;
    top:8px;
    width:605px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:357px;
    top:421px;
    width:609px;
    height:31px
}

.u48 {
    position:absolute;
    left:881px;
    top:429px;
    width:77px;
    height:19px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u49_original {
    background-image: url('../Stage_1_-_Tutor_details_-Schedule_files/u37_original.png');
}

.u49_container {
    position:absolute;
    left:357px;
    top:463px;
    width:609px;
    height:31px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:615px;
    height:37px;
}

.u50 {
    position:absolute;
    left:2px;
    top:8px;
    width:605px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:357px;
    top:463px;
    width:609px;
    height:31px
}

.u51 {
    position:absolute;
    left:881px;
    top:471px;
    width:77px;
    height:19px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u52_original {
    background-image: url('../Stage_1_-_Tutor_details_-Schedule_files/u43_original.png');
}

.u52_container {
    position:absolute;
    left:357px;
    top:505px;
    width:609px;
    height:30px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:615px;
    height:36px;
}

.u53 {
    position:absolute;
    left:2px;
    top:7px;
    width:605px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:357px;
    top:505px;
    width:609px;
    height:30px
}

.u54 {
    position:absolute;
    left:881px;
    top:512px;
    width:77px;
    height:19px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u55 {
    position:absolute;
    left:142px;
    top:138px;
    width:228px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:340px;
    top:178px;
    width:240px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:140px;
    top:368px;
    width:200px;
    height:278px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_line {
    background-image: url('../Stage_1_-_Tutor_details_-Schedule_files/u58_line.png');
}

.u58_line {
    position:absolute;
    left:340px;
    top:214px;
    width:650px;
    height:3px;
}

.u58 {
    position:absolute;
    left:340px;
    top:214px;
    width:650px;
    height:3px
}

