body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Tutor_s_management_-_Schedule_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:120px;
    top:30px;
    width:130px;
    height:60px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:130px;
    height:60px;
}

.u1 {
    position:absolute;
    left:2px;
    top:22px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:120px;
    top:30px;
    width:130px;
    height:60px
}

.u2_original {
    background-image: url('../Tutor_s_management_-_Schedule_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:120px;
    top:110px;
    width:890px;
    height:550px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:896px;
    height:556px;
}

.u3 {
    position:absolute;
    left:2px;
    top:267px;
    width:886px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:120px;
    top:110px;
    width:890px;
    height:550px
}

.u4_original {
    background-image: url('../Tutor_s_management_-_Schedule_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:140px;
    top:175px;
    width:185px;
    height:185px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:185px;
    height:185px;
}

.u5 {
    position:absolute;
    left:2px;
    top:84px;
    width:181px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:140px;
    top:175px;
    width:185px;
    height:185px
}

.u6 {
    position:absolute;
    left:215px;
    top:254px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_original {
    background-image: url('../Tutor_s_management_-_Schedule_files/u7_original.png');
}

.u7_container {
    position:absolute;
    left:340px;
    top:227px;
    width:161px;
    height:31px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:37px;
}

.u8 {
    position:absolute;
    left:2px;
    top:8px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:340px;
    top:227px;
    width:161px;
    height:31px
}

.u9_original {
    background-image: url('../Tutor_s_management_-_Schedule_files/u9_original.png');
}

.u9_container {
    position:absolute;
    left:501px;
    top:227px;
    width:161px;
    height:31px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:37px;
}

.u10 {
    position:absolute;
    left:2px;
    top:8px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:501px;
    top:227px;
    width:161px;
    height:31px
}

.u11_original {
    background-image: url('../Tutor_s_management_-_Schedule_files/u7_original.png');
}

.u11_container {
    position:absolute;
    left:662px;
    top:227px;
    width:161px;
    height:31px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:37px;
}

.u12 {
    position:absolute;
    left:2px;
    top:8px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:662px;
    top:227px;
    width:161px;
    height:31px
}

.u13_original {
    background-image: url('../Tutor_s_management_-_Schedule_files/u7_original.png');
}

.u13_container {
    position:absolute;
    left:823px;
    top:227px;
    width:161px;
    height:31px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:37px;
}

.u14 {
    position:absolute;
    left:2px;
    top:8px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:823px;
    top:227px;
    width:161px;
    height:31px
}

.u15_original {
    background-image: url('../Tutor_s_management_-_Schedule_files/u15_original.png');
}

.u15_container {
    position:absolute;
    left:120px;
    top:680px;
    width:890px;
    height:40px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:896px;
    height:46px;
}

.u16 {
    position:absolute;
    left:2px;
    top:12px;
    width:886px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:120px;
    top:680px;
    width:890px;
    height:40px
}

.u17 {
    position:absolute;
    left:142px;
    top:138px;
    width:228px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:340px;
    top:178px;
    width:240px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:140px;
    top:368px;
    width:200px;
    height:278px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_line {
    background-image: url('../Tutor_s_management_-_Schedule_files/u20_line.png');
}

.u20_line {
    position:absolute;
    left:340px;
    top:214px;
    width:650px;
    height:3px;
}

.u20 {
    position:absolute;
    left:340px;
    top:214px;
    width:650px;
    height:3px
}

.u21 {
    position:absolute;
    left:840px;
    top:24px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_original {
    background-image: url('../Tutor_s_management_-_Schedule_files/u22_original.png');
}

.u22_container {
    position:absolute;
    left:340px;
    top:270px;
    width:652px;
    height:350px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:658px;
    height:356px;
}

.u23 {
    position:absolute;
    left:2px;
    top:167px;
    width:648px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:340px;
    top:270px;
    width:652px;
    height:350px
}

