/* HEADER */
.header {height: 100px;}

.header .logo {display: inline-block;*display: inline;zoom:1;height: 65px;margin: 27px auto auto;text-align: center;text-decoration: none; font-family: 'DroidSerifRegular'; color: #6A6A6A;}
.header .logo .title {font-size: 64px;}
.header .logo .subtitle {font-size: 24px;}
.header .logo:hover {text-decoration: none;}

.header .top-menu {text-align: right; padding: 10px 0 0;}
.header .top-menu .tutor-name {padding-right: 10px;}
/* HEADER END */

/* FOOTER */
.footer {}
.footer .copy {}
/* FOOTER END */

/* WRAPPER */
.index-carousel {}
.index-carousel .item img {width: 100%; height: 300px;}

.search-form {}
.search-form form {margin: 0;}
.search-form .bt-search {padding: 4px 31px;}

.categiries-gallery {}
.categiries-gallery .thumbnail img {display: block; height: 100px; background-color: grey;}

.tutors-gallery {}
.tutors-gallery .thumbnail {position: relative;}
.tutors-gallery .thumbnail img {display: block; height: 210px; background-color: grey;}
.tutors-gallery .thumbnail .thumbnail-popover {display: none; position: absolute; top: 4px; left: 4px; right: 4px; bottom: 4px; background-color: #fff; text-align: center; padding: 65px 0 0;}
.tutors-gallery .thumbnail:hover .thumbnail-popover {display: block;}

.tutor-profile {}
.tutor-profile .pic {width: 210px; height: 210px; background-color: grey;}
.tutor-profile .caption {font-size: 12px; line-height: 1.3em;}
.tutor-profile .caption .title {font-size: 21px; line-height: 1em; margin-bottom: 5px;}
.tutor-profile .caption p {margin: 0 0 5px;}

.student-profile {}
.student-profile .pic {width: 210px; height: 210px; background-color: grey;}
.student-profile .caption {font-size: 12px; line-height: 1.3em;}
.student-profile .caption .title {font-size: 21px; line-height: 1em; margin-bottom: 5px;}
.student-profile .caption p {margin: 0 0 5px;}

.tutor-mainbar-info {}

.about-tutor {}
.about-tutor .edit-row {font-size: 12px; padding: 0 0 10px;}
.about-tutor .edit-row a {text-decoration: none;}

.schedule-tutor {}
.schedule-tutor .navbar {text-align: center;}
.schedule-tutor .navbar-inner {display: inline-block; *display: inline; *zoom:1;}
.schedule-tutor .shcedule-slots-container {}
.schedule-tutor .shcedule-slot {border: 1px solid #eee; padding: 14px 100px 13px 14px; position: relative; min-height: 20px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin-bottom: 15px;}
.schedule-tutor .shcedule-slot .bt-book {text-align: right; position: absolute; top: 10px; right: 10px;}

.contact-tutor {}
.contact-tutor .intro {text-align: center; padding: 5px 0 25px;}
.contact-tutor .form input {width: 325px}
.contact-tutor .form input.pull-right {float: right;}
.contact-tutor .form textarea {resize: none;}
/* WRAPPER END */

/* POPUPS */
.modal form {margin: 0;}

.edit-about-tutor-popup {width: 490px; margin-left: -245px}
.edit-about-tutor-popup textarea {margin: 0;}

.experience-tutor-popup .expr-slot {padding: 10px 100px 10px 10px; position: relative;}
.experience-tutor-popup .expr-slot .title {}
.experience-tutor-popup .expr-slot .place {}
.experience-tutor-popup .expr-slot .period {}
.experience-tutor-popup .expr-slot .bt-edit {position: absolute; top: 10px; right: 0;}

.edit-experience-tutor-popup {width: 650px; margin-left: -325px;}
.edit-experience-tutor-popup .modal-body {padding-top: 20px; position: relative;}
.edit-experience-tutor-popup .modal-body .close {position: absolute; top: 10px; right: 15px;}
.edit-experience-tutor-popup textarea {resize: none; height: 85px;}
.edit-experience-tutor-popup select {width: 70px;}
.edit-experience-tutor-popup .current-time {margin-left: 18px;}
.edit-experience-tutor-popup {}

.education-tutor-popup .edu-slot {padding: 10px 100px 10px 10px; position: relative;}
.education-tutor-popup .edu-slot .title {}
.education-tutor-popup .edu-slot .place {}
.education-tutor-popup .edu-slot .period {}
.education-tutor-popup .edu-slot .bt-edit {position: absolute; top: 10px; right: 0;}

.edit-education-tutor-popup {width: 490px; margin-left: -245px}
.edit-education-tutor-popup .modal-body {padding-top: 20px; position: relative;}
.edit-education-tutor-popup .modal-body .close {position: absolute; top: 10px; right: 15px;}
.edit-education-tutor-popup textarea {resize: none; height: 85px;}
.edit-education-tutor-popup select {width: 70px;}
.edit-education-tutor-popup .current-time {margin-left: 18px;}

.edit-subject-tutor-popup {width: 490px; margin-left: -245px}
.edit-subject-tutor-popup textarea {margin: 0;}
/* POPUPS END*/