
/* div containing the map */
.location_picker_map {
	width: 435px;
	height: 400px;
	border: 1px solid black;
	padding: 2px;
	display: block;
	clear: both;
}

/* div with address line and send button */
.location_picker_address {
    clear: both;
    display: block;
    border: 2px solid transparent;
}
/* if address resolve fails */
.location_picker_address.error input {
    border-color: red;
}
    /* input containing the address line */
    .location_picker_address input {
        width: 350px;
    }

    /* send button */
    .location_picker_address .button {
        margin-left: 5px;
        width: 30px;
        padding: 2px;
    }
    /* button while some AJAX query is in progress */
    .location_picker_address .button.busy {
        background-color: #ccc;
    }

