body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Stage_1_-_Tutor_details_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:120px;
    top:30px;
    width:130px;
    height:60px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:130px;
    height:60px;
}

.u1 {
    position:absolute;
    left:2px;
    top:22px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:120px;
    top:30px;
    width:130px;
    height:60px
}

.u2 {
    position:absolute;
    left:800px;
    top:35px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u3 {
    position:absolute;
    left:908px;
    top:35px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4 {
    position:absolute;
    left:690px;
    top:35px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5_original {
    background-image: url('../Stage_1_-_Tutor_details_files/u5_original.png');
}

.u5_container {
    position:absolute;
    left:120px;
    top:110px;
    width:890px;
    height:660px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:896px;
    height:666px;
}

.u6 {
    position:absolute;
    left:2px;
    top:322px;
    width:886px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:120px;
    top:110px;
    width:890px;
    height:660px
}

.u7_original {
    background-image: url('../Stage_1_-_Tutor_details_files/u7_original.png');
}

.u7_container {
    position:absolute;
    left:142px;
    top:130px;
    width:180px;
    height:180px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:180px;
    height:180px;
}

.u8 {
    position:absolute;
    left:2px;
    top:82px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:142px;
    top:130px;
    width:180px;
    height:180px
}

.u9 {
    position:absolute;
    left:215px;
    top:209px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_original {
    background-image: url('../Stage_1_-_Tutor_details_files/u10_original.png');
}

.u10_container {
    position:absolute;
    left:335px;
    top:130px;
    width:650px;
    height:180px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:656px;
    height:186px;
}

.u11 {
    position:absolute;
    left:2px;
    top:82px;
    width:646px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:335px;
    top:130px;
    width:650px;
    height:180px
}

.u12_original {
    background-image: url('../Stage_1_-_Tutor_details_files/u12_original.png');
}

.u12_container {
    position:absolute;
    left:144px;
    top:335px;
    width:840px;
    height:415px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:846px;
    height:421px;
}

.u13 {
    position:absolute;
    left:2px;
    top:200px;
    width:836px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:144px;
    top:335px;
    width:840px;
    height:415px
}

.u14_original {
    background-image: url('../Stage_1_-_Tutor_details_files/u14_original.png');
}

.u14_container {
    position:absolute;
    left:144px;
    top:335px;
    width:210px;
    height:40px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:46px;
}

.u15 {
    position:absolute;
    left:2px;
    top:12px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:144px;
    top:335px;
    width:210px;
    height:40px
}

.u16_original {
    background-image: url('../Stage_1_-_Tutor_details_files/u16_original.png');
}

.u16_container {
    position:absolute;
    left:354px;
    top:335px;
    width:210px;
    height:40px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:46px;
}

.u17 {
    position:absolute;
    left:2px;
    top:12px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:354px;
    top:335px;
    width:210px;
    height:40px
}

.u18_original {
    background-image: url('../Stage_1_-_Tutor_details_files/u14_original.png');
}

.u18_container {
    position:absolute;
    left:564px;
    top:335px;
    width:210px;
    height:40px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:46px;
}

.u19 {
    position:absolute;
    left:2px;
    top:12px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:564px;
    top:335px;
    width:210px;
    height:40px
}

.u20_original {
    background-image: url('../Stage_1_-_Tutor_details_files/u14_original.png');
}

.u20_container {
    position:absolute;
    left:774px;
    top:335px;
    width:210px;
    height:40px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:46px;
}

.u21 {
    position:absolute;
    left:2px;
    top:12px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:774px;
    top:335px;
    width:210px;
    height:40px
}

.u22_original {
    background-image: url('../Stage_1_-_Tutor_details_files/u22_original.png');
}

.u22_container {
    position:absolute;
    left:120px;
    top:789px;
    width:890px;
    height:40px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:896px;
    height:46px;
}

.u23 {
    position:absolute;
    left:2px;
    top:12px;
    width:886px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:120px;
    top:789px;
    width:890px;
    height:40px
}

#u24 {
    position:absolute;
    left:165px;
    top:390px;
    width:805px;
    height:25px
}

.u24_table {
    background-image: url('../Stage_1_-_Tutor_details_files/u24_table.png');
}

.u24_table {
    position:absolute;
    left:-3px;
    top:-3px;
    width:809px;
    height:29px;
}

.u25_original {
    background-image: url('../Stage_1_-_Tutor_details_files/u25_original.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px
}

.u27_original {
    background-image: url('../Stage_1_-_Tutor_details_files/u25_original.png');
}

.u27_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px
}

.u29_original {
    background-image: url('../Stage_1_-_Tutor_details_files/u25_original.png');
}

.u29_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:20px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:20px
}

.u31_original {
    background-image: url('../Stage_1_-_Tutor_details_files/u25_original.png');
}

.u31_container {
    position:absolute;
    left:300px;
    top:0px;
    width:100px;
    height:20px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:300px;
    top:0px;
    width:100px;
    height:20px
}

.u33_original {
    background-image: url('../Stage_1_-_Tutor_details_files/u25_original.png');
}

.u33_container {
    position:absolute;
    left:400px;
    top:0px;
    width:100px;
    height:20px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:400px;
    top:0px;
    width:100px;
    height:20px
}

.u35_original {
    background-image: url('../Stage_1_-_Tutor_details_files/u25_original.png');
}

.u35_container {
    position:absolute;
    left:500px;
    top:0px;
    width:100px;
    height:20px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:500px;
    top:0px;
    width:100px;
    height:20px
}

.u37_original {
    background-image: url('../Stage_1_-_Tutor_details_files/u25_original.png');
}

.u37_container {
    position:absolute;
    left:600px;
    top:0px;
    width:100px;
    height:20px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:600px;
    top:0px;
    width:100px;
    height:20px
}

.u39_original {
    background-image: url('../Stage_1_-_Tutor_details_files/u25_original.png');
}

.u39_container {
    position:absolute;
    left:700px;
    top:0px;
    width:100px;
    height:20px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:700px;
    top:0px;
    width:100px;
    height:20px
}

.u41_original {
    background-image: url('../Stage_1_-_Tutor_details_files/u41_original.png');
}

.u41_container {
    position:absolute;
    left:166px;
    top:425px;
    width:794px;
    height:40px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:800px;
    height:46px;
}

.u42 {
    position:absolute;
    left:2px;
    top:12px;
    width:790px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:166px;
    top:425px;
    width:794px;
    height:40px
}

.u43 {
    position:absolute;
    left:850px;
    top:435px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u44_original {
    background-image: url('../Stage_1_-_Tutor_details_files/u41_original.png');
}

.u44_container {
    position:absolute;
    left:166px;
    top:480px;
    width:794px;
    height:40px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:800px;
    height:46px;
}

.u45 {
    position:absolute;
    left:2px;
    top:12px;
    width:790px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:166px;
    top:480px;
    width:794px;
    height:40px
}

.u46 {
    position:absolute;
    left:850px;
    top:490px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u47_original {
    background-image: url('../Stage_1_-_Tutor_details_files/u41_original.png');
}

.u47_container {
    position:absolute;
    left:166px;
    top:534px;
    width:794px;
    height:40px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:800px;
    height:46px;
}

.u48 {
    position:absolute;
    left:2px;
    top:12px;
    width:790px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:166px;
    top:534px;
    width:794px;
    height:40px
}

.u49 {
    position:absolute;
    left:850px;
    top:544px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u50_original {
    background-image: url('../Stage_1_-_Tutor_details_files/u41_original.png');
}

.u50_container {
    position:absolute;
    left:166px;
    top:588px;
    width:794px;
    height:40px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:800px;
    height:46px;
}

.u51 {
    position:absolute;
    left:2px;
    top:12px;
    width:790px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:166px;
    top:588px;
    width:794px;
    height:40px
}

.u52 {
    position:absolute;
    left:850px;
    top:598px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u53_original {
    background-image: url('../Stage_1_-_Tutor_details_files/u41_original.png');
}

.u53_container {
    position:absolute;
    left:166px;
    top:643px;
    width:794px;
    height:40px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:800px;
    height:46px;
}

.u54 {
    position:absolute;
    left:2px;
    top:12px;
    width:790px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:166px;
    top:643px;
    width:794px;
    height:40px
}

.u55 {
    position:absolute;
    left:850px;
    top:653px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u56_original {
    background-image: url('../Stage_1_-_Tutor_details_files/u41_original.png');
}

.u56_container {
    position:absolute;
    left:166px;
    top:697px;
    width:794px;
    height:40px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:800px;
    height:46px;
}

.u57 {
    position:absolute;
    left:2px;
    top:12px;
    width:790px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:166px;
    top:697px;
    width:794px;
    height:40px
}

.u58 {
    position:absolute;
    left:850px;
    top:707px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

