{% extends "main/base.html" %}{% load static from staticfiles %}
{% block content %}
		<div class="span12">
		    <ul class="breadcrumb">
			<li><a href="{% url "main:index" %}">Home</a> <span class="divider">></span></li>
			<li class="active">bookings</li>
		    </ul>
		</div>
		<div class="span12">
		    <div class="row">
			<div class="span9 student-mainbar-info">
				<h1>order summary</h1>
                <ul class="thumbnails">
                {% for booking in order.bookings.all %}
                    <li>{{ booking.slot.tutor }}: {{ booking.slot }} ({{ booking.slot_type }})</li>
                {% endfor %}
                </ul>
                <a class="btn" id="order-checkout-js">Checkout</a>
			</div>
		    </div>
		</div>
{% endblock %}

{% block scripting %}
    {{ super }}
    <script src="https://app.zooz.com/mobile/js/zooz-ext-web.js"></script>
    <script type="text/javascript">
	    $(document).ready(function(){

            var order_id = {{ order.id }};

            $('#order-checkout-js').click(function (e) {
                e.preventDefault();
                ZoozApi.open_trans(order_id, function(response) {
                    if (response.success) {
                        zoozStartCheckout({
                            token : response.token,
                            uniqueId : "{{ zooz.unique_id }}",
                        {% if zooz.is_sandbox %}
                            isSandbox : "true",
                        {% endif %}
                            completeCallBackFunc: zoozCallback
                        });
                    }
                });
            });

            zoozCallback = function(rs) {
                var r = JSON.parse(rs);
                if (r.statusCode == 0) {
                    ZoozApi.commit_trans(order_id, r.sessionToken, r.trxId, r.transactionDisplayID, r.status, function(response) {
                        console.log(response);
                    });
                } else {
                    alert("Zooz payment error: " + r.statusCode)
                }
            };

        });
	</script>
{% endblock %}
