    <form id="rpc-education-set-js">{% csrf_token %}
		<div class="modal-body">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		    <div class="controls-row">
			<label>Univercity name*</label>
            <input type="hidden" name="instance_id" value="{{ edu.id }}">
			<input type="text" name="university" class="span6" value="{{ edu.university }}">
		    </div>
		    <div class="controls-row">
			<label>Degree*</label>
			<input type="text" name="degree" class="span6" value="{{ edu.degree }}">
		    </div>
		    <div class="form-inline">
			<select name="period_start" class="span2">
                {% for year in years %}
                    {% if year == period_start %}
                        <option value="{{ year }}" selected="selected">{{ year }}</option>
                    {% else %}
                        <option value="{{ year }}">{{ year }}</option>
                    {% endif %}
                {% endfor %}
			</select>
			<label>Year</label>
			<select name="period_end" class="span2">
			    {% for year in years %}
                    {% if year == period_end %}
                        <option value="{{ year }}" selected="selected">{{ year }}</option>
                    {% else %}
                        <option value="{{ year }}">{{ year }}</option>
                    {% endif %}
                {% endfor %}
			</select>
			<label>Year</label>
			<label class="checkbox current-time"><input type="checkbox" name="current"{% if edu.current %} checked="checked"{% endif %}> I currently study here
			</label>
		    </div>
		</div>
		<div class="modal-footer">
		    <button class="btn btn-info" title="Save">Save</button>
            <a data-toggle="modal" href="#edit-education-tutor-popup" class="btn" title="Cancel">Cancel</a>
		    <a class="btn btn-danger delete-action" title="Delete">Delete</a>
		</div>
	</form>