	    <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Your experience</h3>
	    </div>
	    <div class="modal-body">
        {% for item in experience %}
		<div class="expr-slot">
		    <div class="title"><strong>{{ item.position }}</strong></div>
		    <div class="place">{{ item.organization }}</div>
		    <div class="period">{{ item.period }}</div>
            <a class="btn btn-small btn-info bt-edit experience-edit-form-js" data-id="{{ item.id }}" title="Edit">Edit</a>
		</div>
        {% endfor %}
		</div>
	    <div class="modal-footer">
		<a class="btn btn-info experience-add-form-js" title="Add">Add</a>
		<a data-toggle="modal" href="#experience-tutor-popup" class="btn" title="Cancel">Cancel</a>
	    </div>
