    <form id="rpc-experience-set-js">{% csrf_token %}
		<div class="modal-body">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <div class="row">
                <div class="span4">
                    <div class="controls-row">
                    <label>Organization*</label>
                    <input type="hidden" name="instance_id" value="{{ exp.id }}">
                    <input type="text" name="organization" class="span4" value="{{ exp.organization }}">
                    </div>
                    <div class="controls-row">
                    <label>Position*</label>
                    <input type="text" name="position" class="span4" value="{{ exp.position }}">
                    </div>
                </div>
                <div class="span4">
                    <div class="controls-row">
                    <label>Description*</label>
                    <textarea rows="3" name="description" placeholder="enter text..."class="span4">{{ exp.description }}</textarea>
                    </div>
                </div>
                <div class="span8">
                    <div class="form-inline">
                    <select name="period_start" class="span2">
                        {% for year in years %}
                            {% if year == period_start %}
                                <option value="{{ year }}" selected="selected">{{ year }}</option>
                            {% else %}
                                <option value="{{ year }}">{{ year }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label>Year</label>
                    <select name="period_end" class="span2">
                        {% for year in years %}
                            {% if year == period_end %}
                                <option value="{{ year }}" selected="selected">{{ year }}</option>
                            {% else %}
                                <option value="{{ year }}">{{ year }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label>Year</label>
                    <label class="checkbox current-time"><input type="checkbox" name="current"{% if exp.current %} checked="checked"{% endif %}> I currently study here
                    </label>
                    </div>
                </div>
		    </div>
        </div>
		<div class="modal-footer">
		    <button class="btn btn-info" title="Save">Save</button>
            <a data-toggle="modal" href="#edit-experience-tutor-popup" class="btn" title="Cancel">Cancel</a>
		    <a class="btn btn-danger delete-action" title="Delete">Delete</a>
		</div>
        </div>
	</form>
