{% extends "main/base.html" %}{% load static from staticfiles %}
{% block content %}
		<div class="span12">
		    <ul class="breadcrumb">
			<li><a href="{% url "main:index" %}">Home</a> <span class="divider">></span></li>
			<li><a href="#">London tutors</a> <span class="divider">></span></li>
			<li class="active">{{ tutor.fullname }}</li>
		    </ul>
		</div>
		<div class="span12">
		    <div class="row">
			<div class="span3">
			    <ul class="thumbnails">
				<li class="span3">
				    <div class="thumbnail tutor-profile">
					<img alt="200x200" class="pic" src="">
					<div class="caption">
					    <h3 class="title">Experience</h3>
                        {% for exp in tutor.experience.all %}
					    <p><strong>{{ exp.position }} at {{ exp.organization }}</strong> <br>
                        <small>{{ exp.period }}</small></p>
                        {% endfor %}
					    <h3 class="title">Education</h3>
                        {% for ed in tutor.education.all %}
					    <p><strong>{{ ed.university }}</strong> <br>
                        {{ ed.degree }}
                        <small>{{ ed.period }}</small></p>
                        {% endfor %}
					    <h3 class="title">Subjects</h3>
                        <p>
                        {% for subject in tutor.subjects.all %}
                        {{ subject.name }}{% if not forloop.last %}<br />{% endif %}
                        {% endfor %}
					    </p>
					</div>
				    </div>
				</li>
			    </ul>
			</div>
			<div class="span9 tutor-mainbar-info">
				<h1>{{ tutor.fullname }}</h1>
			    <ul class="nav nav-tabs" id="descTab">
				<li class="active"><a href="#about">About</a></li>
				<li><a href="#schedule">Schedule</a></li>
				<li><a href="#feedback">Feedback</a></li>
				<li><a href="#contact">Contact</a></li>
			    </ul>
    
			    <div class="tab-content">
				<div class="tab-pane about-tutor active" id="about">
				    {{ tutor.about }}
				</div>
				<div class="tab-pane schedule-tutor" id="schedule">
				    <div class="navbar">
					<div class="navbar-inner">
					    <ul class="nav">
						<li>
						    <a href="#"><<</a>
						</li>
						<li class="active"><a href="#">Today</a></li>
						<li><a href="#">May 9</a></li>
						<li><a href="#">May 10</a></li>
						<li><a href="#">May 11</a></li>
						<li><a href="#">May 12</a></li>
						<li><a href="#">>></a></li>
					    </ul>
					</div>
				    </div>
				    <div class="shcedule-slots-container">
                    {% for slot in tutor.slots.all %}
					<div class="shcedule-slot">
					    Slot information (subject, time, etc)
					    <a href="#" class="btn btn-small btn-info bt-book" title="Book">Book</a>
					</div>
					{% endfor %}
				    </div>

				</div>
				<div class="tab-pane" id="feedback">to discuss</div>
				<div class="tab-pane contact-tutor" id="contact">
				    <div class="intro">
					Contact {{ tutor.fullname }} to Schedule <br>
					Fill out this form and a Consultant will contact you shortly.
				    </div>
				    <form action="#" class="form">
					<div class="controls-row">
						<input class="span4" type="text" placeholder="Name"> 
						<input class="span4 pull-right" type="text" placeholder="Email">
					</div>
					<div class="controls-row">
						<input class="span4" type="text" placeholder="Phone"> 
						<input class="span4 pull-right" type="text" placeholder="School">
					</div>
					<div class="controls-row">
						<input class="span4" type="text" placeholder="Subject"> 
						<input class="span4 pull-right" type="text" placeholder="Location">
					</div>
					<div class="controls-row">
					<textarea rows="3" class="span9" placeholder="Message"></textarea>
					</div>
					<div class="controls-row text-center">
					<button type="submit" class="btn btn-info btn-large" title="Sunmit">Sunmit</button>
					</div>
				    </form>
				</div>
			    </div>
			</div>
		    </div>
		</div>
{% endblock %}

{% block scripting %}
    {{ super }}
    <script type="text/javascript">
	    $(document).ready(function(){
            $('#descTab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
        });
	</script>
{% endblock %}