{% extends "main/base.html" %}{% load static from staticfiles %}
{% block extrahead %}
    {{ super }}
    <link rel="stylesheet" href="{% static 'css/fullcalendar.css' %}"/>
    <script type='text/javascript' src="{% static 'js/jquery-ui-1.10.2.custom.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/fullcalendar.js' %}"></script>
{% endblock %}
{% block content %}
		<div class="span12">
		    <ul class="breadcrumb">
			<li><a href="{% url "main:index" %}">Home</a> <span class="divider">></span></li>
			<li><a href="#">London tutors</a> <span class="divider">></span></li>
			<li class="active">{{ tutor.fullname }}</li>
		    </ul>
		</div>
		<div class="span12">
		    <div class="row">
			<div class="span3">
			    <ul class="thumbnails">
				<li class="span3">
				    <div class="thumbnail tutor-profile">
					<img alt="200x200" class="pic" src="">
					<div class="caption">

					    <h3 class="title">Experience</h3>
                        <div id="experience-container-js">
                        {% for exp in tutor.experience.all %}
					    <p><strong>{{ exp.position }} at {{ exp.organization }}</strong> <br>
                        <small>{{ exp.period }}</small></p>
                        {% endfor %}
                        </div>
                        <div class="edit-row"><a data-toggle="modal" href="#experience-tutor-popup">Edit</a></div>

                        <h3 class="title">Education</h3>
                        <div id="education-container-js">
                        {% for ed in tutor.education.all %}
					    <p><strong>{{ ed.university }}</strong> <br>
                        {{ ed.degree }}
                        <small>{{ ed.period }}</small></p>
                        {% endfor %}
                        </div>
                        <div class="edit-row"><a data-toggle="modal" href="#education-tutor-popup">Edit</a></div>

                        <h3 class="title">Subjects</h3>
                        <div id="subjects-container-js">
                        <p>
                        {% for subject in tutor.subjects.all %}
                        {{ subject.name }}{% if not forloop.last %}<br />{% endif %}
                        {% endfor %}
                        </p>
                        </div>
                        <div class="edit-row"><a data-toggle="modal" href="#edit-subject-tutor-popup">Edit</a></div>

					</div>
				    </div>
				</li>
			    </ul>
			</div>
			<div class="span9 tutor-mainbar-info">
				<h1>{{ tutor.fullname }}</h1>
			    <ul class="nav nav-tabs" id="descTab">
				<li class="active"><a href="#about">About</a></li>
				<li><a href="#schedule">Schedule</a></li>
				<li><a href="#feedback">Feedback</a></li>
				<li><a href="#contact">Contact</a></li>
			    </ul>
    
			    <div class="tab-content">
				<div class="tab-pane about-tutor active" id="about">
                    <div class="text-right edit-row"><a data-toggle="modal" href="#edit-about-tutor-popup">Edit</a></div>
                    <div id="about-container-js">
				    {{ tutor.about }}
                    </div>
				</div>
				<div class="tab-pane schedule-tutor" id="schedule">
				    <div id="calendar"></div>
				</div>
				<div class="tab-pane" id="feedback">to discuss</div>
				<div class="tab-pane contact-tutor" id="contact">
				    <div class="intro">
					Contact {{ tutor.fullname }} to Schedule <br>
					Fill out this form and a Consultant will contact you shortly.
				    </div>
				    <form action="#" class="form">
					<div class="controls-row">
						<input class="span4" type="text" placeholder="Name"> 
						<input class="span4 pull-right" type="text" placeholder="Email">
					</div>
					<div class="controls-row">
						<input class="span4" type="text" placeholder="Phone"> 
						<input class="span4 pull-right" type="text" placeholder="School">
					</div>
					<div class="controls-row">
						<input class="span4" type="text" placeholder="Subject"> 
						<input class="span4 pull-right" type="text" placeholder="Location">
					</div>
					<div class="controls-row">
					<textarea rows="3" class="span9" placeholder="Message"></textarea>
					</div>
					<div class="controls-row text-center">
					<button type="submit" class="btn btn-info btn-large" title="Sunmit">Sunmit</button>
					</div>
				    </form>
				</div>
			    </div>
			</div>
		    </div>
		</div>
{% endblock %}

{% block modals %}
    {{ super }}
    <div class="modal hide fade edit-about-tutor-popup" id="edit-about-tutor-popup">
	    <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Information about you</h3>
	    </div>
	    <form id="rpc-about-set-js">{% csrf_token %}
		<div class="modal-body">
		    <div class="controls-row">
			<textarea name="about" class="span6" rows="3">{{ tutor.about }}</textarea>
		    </div>
		</div>
		<div class="modal-footer">
		    <button class="btn btn-info" title="Save">Save</button>
            <a data-toggle="modal" href="#edit-about-tutor-popup" class="btn" title="Cancel">Cancel</a>
		</div>
	    </form>
	</div>

	<div class="modal hide fade experience-tutor-popup" id="experience-tutor-popup">
        <!-- TutorPage.update_experience_form() -->
	</div>

	<div class="modal hide fade edit-experience-tutor-popup" id="edit-experience-tutor-popup">
         <!-- TutorPage.update_experience_change_form() -->
	</div>

	<div class="modal hide fade education-tutor-popup" id="education-tutor-popup">
        <!-- TutorPage.update_education_form() -->
	</div>

	<div class="modal hide fade edit-education-tutor-popup" id="edit-education-tutor-popup">
        <!-- TutorPage.update_education_change_form() -->
	</div>

	<div class="modal hide fade edit-subject-tutor-popup" id="edit-subject-tutor-popup">
	    <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Subjects</h3>
	    </div>
	    <form id="rpc-subjects-set-js">{% csrf_token %}
		<div class="modal-body">
            <div class="global-errors"></div>
		    <div class="controls-row">
			<textarea name="subjects" class="span6" rows="3" placeholder="Keywords separated using coma">
{% for subject in tutor.subjects.all %}{{ subject.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</textarea>
		    </div>
		</div>
		<div class="modal-footer">
		    <button class="btn btn-info" title="Save">Save</button>
		    <a data-toggle="modal" href="#edit-subject-tutor-popup" class="btn" title="Cancel">Cancel</a>
		</div>
	    </form>
	</div>

    <div class="modal hide fade add-event-popup" id="add-event-popup">
	    <div class="modal-header">
	    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		    <h3>Add event</h3>
	    </div>
	    <form id="rpc-slots-set-js">{% csrf_token %}
		<div class="modal-body">
		    <label class="checkbox inline">
			<input type="checkbox" name="is_home" id="event_home_chk"> Home
		    </label>
		    <label class="checkbox inline">
			<input type="checkbox" name="is_away" id="event_away_chk"> Away
		    </label>
		    <label class="checkbox inline">
			<input type="checkbox" name="is_online" id="event_online_chk"> Online
		    </label>
            <input type="hidden" name="start" id="event_start">
            <input type="hidden" name="end" id="event_end">
            <input type="hidden" name="instance_id" id="event_instance_id">
		</div>
		<div class="modal-footer">
		    <button class="btn btn-info bt-submit-popup" title="Save">Save</button>
		    <a class="btn bt-close-popup" title="Cancel">Cancel</a>
            <a class="btn btn-danger delete-action" title="Delete">Delete</a>
		</div>
	    </form>
	</div>

{% endblock %}

{% block scripting %}
    {{ super }}
    <script type="text/javascript" src="{% static "tutors/js/tutor-page.js" %}"></script>
    <script type="text/javascript">
	    $(document).ready(function(){

            $('#descTab a').click(function(e) {
                e.preventDefault();
                $(this).tab('show');
            });

{#            $('#edit-experience-tutor-popup').on('shown', function () {#}
{#		        $('#experience-tutor-popup').modal('hide');#}
{#		    });#}

            $('#edit-experience-tutor-popup').on('hide', function () {
                $('#experience-tutor-popup').modal('show');
            });

{#            $('#edit-education-tutor-popup').on('shown', function () {#}
{#                $('#education-tutor-popup').modal('hide');#}
{#            });#}

            $('#edit-education-tutor-popup').on('hide', function () {
                $('#education-tutor-popup').modal('show');
            });

            $('.education-edit-form-js').live('click', function(){
                TutorPage.update_education_change_form($(this).data('id'));
                $('#edit-education-tutor-popup').modal('show');
                $('#education-tutor-popup').modal('hide');
            });

            $('.education-add-form-js').live('click', function(){
                TutorPage.update_education_add_form();
                $('#edit-education-tutor-popup').modal('show');
                $('#education-tutor-popup').modal('hide');
            });

            $('.experience-edit-form-js').live('click', function(){
                TutorPage.update_experience_change_form($(this).data('id'));
                $('#edit-experience-tutor-popup').modal('show');
                $('#experience-tutor-popup').modal('hide');
            });

            $('.experience-add-form-js').live('click', function(){
                TutorPage.update_experience_add_form();
                $('#edit-experience-tutor-popup').modal('show');
                $('#experience-tutor-popup').modal('hide');
            });


            $('#add-event-popup .bt-close-popup').click(function () {
                $('#add-event-popup').modal('hide');
            });

            $('#add-event-popup .bt-submit-popup').click(function () {
{#                $(this).off();#}
{##}
{#                var EVENT = {#}
{#                    title: '',#}
{#                    start: start,#}
{#                    end: end,#}
{#                    allDay: allDay#}
{#                };#}
{##}
{#                if ($('#eventCheckbox1').is(':checked')) {#}
{#                    EVENT.title = EVENT.title + $('#eventCheckbox1').attr('value') + ' ';#}
{#                }#}
{#                if ($('#eventCheckbox2').is(':checked')) {#}
{#                    EVENT.title = EVENT.title + $('#eventCheckbox2').attr('value') + ' ';#}
{#                }#}
{#                if ($('#eventCheckbox3').is(':checked')) {#}
{#                    EVENT.title = EVENT.title + $('#eventCheckbox3').attr('value') + ' ';#}
{#                }#}
{##}
{##}
{#                if (EVENT.title) {#}
{#                    calendar.fullCalendar('renderEvent',#}
{#                        EVENT,#}
{#                        true // make the event "stick"#}
{#                    );#}
{#                }#}
{##}
{#                calendar.fullCalendar('unselect');#}
{#                console.log('unselected');#}
{#                $('#add-event-popup').modal('hide');#}
            });

        });
	</script>
    <script type='text/javascript' src="{% static 'tutors/js/calendarInit.js' %}"></script>
{% endblock %}