body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Tutor-In_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:120px;
    top:30px;
    width:130px;
    height:60px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:130px;
    height:60px;
}

.u1 {
    position:absolute;
    left:2px;
    top:22px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:120px;
    top:30px;
    width:130px;
    height:60px
}

.u2_original {
    background-image: url('../Tutor-In_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:120px;
    top:110px;
    width:890px;
    height:210px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:896px;
    height:216px;
}

.u3 {
    position:absolute;
    left:2px;
    top:97px;
    width:886px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:120px;
    top:110px;
    width:890px;
    height:210px
}

.u4_original {
    background-image: url('../Tutor-In_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:120px;
    top:340px;
    width:890px;
    height:80px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:896px;
    height:86px;
}

.u5 {
    position:absolute;
    left:2px;
    top:32px;
    width:886px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:120px;
    top:340px;
    width:890px;
    height:80px
}

.u6 {
    position:absolute;
    left:157px;
    top:365px;
    width:200px;
    height:35px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:377px;
    top:365px;
    width:190px;
    height:35px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8 {
    position:absolute;
    left:588px;
    top:365px;
    width:252px;
    height:35px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9_original {
    background-image: url('../Tutor-In_files/u9_original.png');
}

.u9_container {
    position:absolute;
    left:795px;
    top:368px;
    width:40px;
    height:30px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:36px;
}

.u10 {
    position:absolute;
    left:2px;
    top:7px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:795px;
    top:368px;
    width:40px;
    height:30px
}

.u11 {
    position:absolute;
    left:857px;
    top:367px;
    width:120px;
    height:30px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12_original {
    background-image: url('../Tutor-In_files/u12_original.png');
}

.u12_container {
    position:absolute;
    left:120px;
    top:440px;
    width:890px;
    height:250px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:896px;
    height:256px;
}

.u13 {
    position:absolute;
    left:2px;
    top:117px;
    width:886px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:120px;
    top:440px;
    width:890px;
    height:250px
}

.u14 {
    position:absolute;
    left:140px;
    top:454px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_original {
    background-image: url('../Tutor-In_files/u15_original.png');
}

.u15_container {
    position:absolute;
    left:174px;
    top:490px;
    width:180px;
    height:80px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u16 {
    position:absolute;
    left:2px;
    top:32px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:174px;
    top:490px;
    width:180px;
    height:80px
}

.u17_original {
    background-image: url('../Tutor-In_files/u15_original.png');
}

.u17_container {
    position:absolute;
    left:374px;
    top:490px;
    width:180px;
    height:80px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u18 {
    position:absolute;
    left:2px;
    top:32px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:374px;
    top:490px;
    width:180px;
    height:80px
}

.u19_original {
    background-image: url('../Tutor-In_files/u15_original.png');
}

.u19_container {
    position:absolute;
    left:574px;
    top:490px;
    width:180px;
    height:80px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u20 {
    position:absolute;
    left:2px;
    top:32px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:574px;
    top:490px;
    width:180px;
    height:80px
}

.u21_original {
    background-image: url('../Tutor-In_files/u15_original.png');
}

.u21_container {
    position:absolute;
    left:774px;
    top:490px;
    width:180px;
    height:80px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u22 {
    position:absolute;
    left:2px;
    top:32px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:774px;
    top:490px;
    width:180px;
    height:80px
}

.u23_original {
    background-image: url('../Tutor-In_files/u15_original.png');
}

.u23_container {
    position:absolute;
    left:174px;
    top:590px;
    width:180px;
    height:80px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u24 {
    position:absolute;
    left:2px;
    top:32px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:174px;
    top:590px;
    width:180px;
    height:80px
}

.u25_original {
    background-image: url('../Tutor-In_files/u15_original.png');
}

.u25_container {
    position:absolute;
    left:374px;
    top:590px;
    width:180px;
    height:80px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u26 {
    position:absolute;
    left:2px;
    top:32px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:374px;
    top:590px;
    width:180px;
    height:80px
}

.u27_original {
    background-image: url('../Tutor-In_files/u15_original.png');
}

.u27_container {
    position:absolute;
    left:574px;
    top:590px;
    width:180px;
    height:80px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u28 {
    position:absolute;
    left:2px;
    top:32px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:574px;
    top:590px;
    width:180px;
    height:80px
}

.u29_original {
    background-image: url('../Tutor-In_files/u15_original.png');
}

.u29_container {
    position:absolute;
    left:774px;
    top:590px;
    width:180px;
    height:80px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u30 {
    position:absolute;
    left:2px;
    top:32px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:774px;
    top:590px;
    width:180px;
    height:80px
}

.u31_original {
    background-image: url('../Tutor-In_files/u31_original.png');
}

.u31_container {
    position:absolute;
    left:120px;
    top:710px;
    width:890px;
    height:1000px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:896px;
    height:1006px;
}

.u32 {
    position:absolute;
    left:2px;
    top:492px;
    width:886px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:120px;
    top:710px;
    width:890px;
    height:1000px
}

.u33 {
    position:absolute;
    left:140px;
    top:724px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_original {
    background-image: url('../Tutor-In_files/u34_original.png');
}

.u34_container {
    position:absolute;
    left:179px;
    top:770px;
    width:171px;
    height:160px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:177px;
    height:166px;
}

.u35 {
    position:absolute;
    left:2px;
    top:72px;
    width:167px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:179px;
    top:770px;
    width:171px;
    height:160px
}

.u36_original {
    background-image: url('../Tutor-In_files/u34_original.png');
}

.u36_container {
    position:absolute;
    left:377px;
    top:770px;
    width:171px;
    height:160px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:177px;
    height:166px;
}

.u37 {
    position:absolute;
    left:2px;
    top:72px;
    width:167px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:377px;
    top:770px;
    width:171px;
    height:160px
}

.u38_original {
    background-image: url('../Tutor-In_files/u34_original.png');
}

.u38_container {
    position:absolute;
    left:577px;
    top:770px;
    width:171px;
    height:160px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:177px;
    height:166px;
}

.u39 {
    position:absolute;
    left:2px;
    top:72px;
    width:167px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:577px;
    top:770px;
    width:171px;
    height:160px
}

.u40_original {
    background-image: url('../Tutor-In_files/u34_original.png');
}

.u40_container {
    position:absolute;
    left:778px;
    top:770px;
    width:171px;
    height:160px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:177px;
    height:166px;
}

.u41 {
    position:absolute;
    left:2px;
    top:72px;
    width:167px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:778px;
    top:770px;
    width:171px;
    height:160px
}

.u42_original {
    background-image: url('../Tutor-In_files/u34_original.png');
}

.u42_container {
    position:absolute;
    left:180px;
    top:950px;
    width:171px;
    height:160px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:177px;
    height:166px;
}

.u43 {
    position:absolute;
    left:2px;
    top:72px;
    width:167px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:180px;
    top:950px;
    width:171px;
    height:160px
}

.u44_original {
    background-image: url('../Tutor-In_files/u34_original.png');
}

.u44_container {
    position:absolute;
    left:378px;
    top:950px;
    width:171px;
    height:160px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:177px;
    height:166px;
}

.u45 {
    position:absolute;
    left:2px;
    top:72px;
    width:167px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:378px;
    top:950px;
    width:171px;
    height:160px
}

.u46_original {
    background-image: url('../Tutor-In_files/u34_original.png');
}

.u46_container {
    position:absolute;
    left:578px;
    top:950px;
    width:171px;
    height:160px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:177px;
    height:166px;
}

.u47 {
    position:absolute;
    left:2px;
    top:72px;
    width:167px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:578px;
    top:950px;
    width:171px;
    height:160px
}

.u48_original {
    background-image: url('../Tutor-In_files/u34_original.png');
}

.u48_container {
    position:absolute;
    left:779px;
    top:950px;
    width:171px;
    height:160px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:177px;
    height:166px;
}

.u49 {
    position:absolute;
    left:2px;
    top:72px;
    width:167px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:779px;
    top:950px;
    width:171px;
    height:160px
}

.u50_original {
    background-image: url('../Tutor-In_files/u34_original.png');
}

.u50_container {
    position:absolute;
    left:180px;
    top:1130px;
    width:171px;
    height:160px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:177px;
    height:166px;
}

.u51 {
    position:absolute;
    left:2px;
    top:72px;
    width:167px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:180px;
    top:1130px;
    width:171px;
    height:160px
}

.u52_original {
    background-image: url('../Tutor-In_files/u34_original.png');
}

.u52_container {
    position:absolute;
    left:378px;
    top:1130px;
    width:171px;
    height:160px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:177px;
    height:166px;
}

.u53 {
    position:absolute;
    left:2px;
    top:72px;
    width:167px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:378px;
    top:1130px;
    width:171px;
    height:160px
}

.u54_original {
    background-image: url('../Tutor-In_files/u34_original.png');
}

.u54_container {
    position:absolute;
    left:578px;
    top:1130px;
    width:171px;
    height:160px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:177px;
    height:166px;
}

.u55 {
    position:absolute;
    left:2px;
    top:72px;
    width:167px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:578px;
    top:1130px;
    width:171px;
    height:160px
}

.u56_original {
    background-image: url('../Tutor-In_files/u34_original.png');
}

.u56_container {
    position:absolute;
    left:779px;
    top:1130px;
    width:171px;
    height:160px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:177px;
    height:166px;
}

.u57 {
    position:absolute;
    left:2px;
    top:72px;
    width:167px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:779px;
    top:1130px;
    width:171px;
    height:160px
}

.u58_original {
    background-image: url('../Tutor-In_files/u34_original.png');
}

.u58_container {
    position:absolute;
    left:180px;
    top:1310px;
    width:171px;
    height:160px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:177px;
    height:166px;
}

.u59 {
    position:absolute;
    left:2px;
    top:72px;
    width:167px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:180px;
    top:1310px;
    width:171px;
    height:160px
}

.u60_original {
    background-image: url('../Tutor-In_files/u34_original.png');
}

.u60_container {
    position:absolute;
    left:378px;
    top:1310px;
    width:171px;
    height:160px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:177px;
    height:166px;
}

.u61 {
    position:absolute;
    left:2px;
    top:72px;
    width:167px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:378px;
    top:1310px;
    width:171px;
    height:160px
}

.u62_original {
    background-image: url('../Tutor-In_files/u34_original.png');
}

.u62_container {
    position:absolute;
    left:578px;
    top:1310px;
    width:171px;
    height:160px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:177px;
    height:166px;
}

.u63 {
    position:absolute;
    left:2px;
    top:72px;
    width:167px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:578px;
    top:1310px;
    width:171px;
    height:160px
}

.u64_original {
    background-image: url('../Tutor-In_files/u34_original.png');
}

.u64_container {
    position:absolute;
    left:779px;
    top:1310px;
    width:171px;
    height:160px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:177px;
    height:166px;
}

.u65 {
    position:absolute;
    left:2px;
    top:72px;
    width:167px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:779px;
    top:1310px;
    width:171px;
    height:160px
}

.u66_original {
    background-image: url('../Tutor-In_files/u34_original.png');
}

.u66_container {
    position:absolute;
    left:180px;
    top:1490px;
    width:171px;
    height:160px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:177px;
    height:166px;
}

.u67 {
    position:absolute;
    left:2px;
    top:72px;
    width:167px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:180px;
    top:1490px;
    width:171px;
    height:160px
}

.u68_original {
    background-image: url('../Tutor-In_files/u34_original.png');
}

.u68_container {
    position:absolute;
    left:378px;
    top:1490px;
    width:171px;
    height:160px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:177px;
    height:166px;
}

.u69 {
    position:absolute;
    left:2px;
    top:72px;
    width:167px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:378px;
    top:1490px;
    width:171px;
    height:160px
}

.u70_original {
    background-image: url('../Tutor-In_files/u34_original.png');
}

.u70_container {
    position:absolute;
    left:578px;
    top:1490px;
    width:171px;
    height:160px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:177px;
    height:166px;
}

.u71 {
    position:absolute;
    left:2px;
    top:72px;
    width:167px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:578px;
    top:1490px;
    width:171px;
    height:160px
}

.u72_original {
    background-image: url('../Tutor-In_files/u34_original.png');
}

.u72_container {
    position:absolute;
    left:779px;
    top:1490px;
    width:171px;
    height:160px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:177px;
    height:166px;
}

.u73 {
    position:absolute;
    left:2px;
    top:72px;
    width:167px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:779px;
    top:1490px;
    width:171px;
    height:160px
}

.u74_original {
    background-image: url('../Tutor-In_files/u74_original.png');
}

.u74_container {
    position:absolute;
    left:180px;
    top:770px;
    width:170px;
    height:160px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:166px;
}

.u75 {
    position:absolute;
    left:2px;
    top:64px;
    width:166px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:180px;
    top:770px;
    width:170px;
    height:160px
}

.u76 {
    position:absolute;
    left:800px;
    top:35px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u77 {
    position:absolute;
    left:908px;
    top:35px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u78 {
    position:absolute;
    left:690px;
    top:35px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u79_original {
    background-image: url('../Tutor-In_files/u79_original.png');
}

.u79_container {
    position:absolute;
    left:120px;
    top:1730px;
    width:890px;
    height:40px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:896px;
    height:46px;
}

.u80 {
    position:absolute;
    left:2px;
    top:12px;
    width:886px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:120px;
    top:1730px;
    width:890px;
    height:40px
}

