body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Edit_Experience_section_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:120px;
    top:30px;
    width:130px;
    height:60px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:130px;
    height:60px;
}

.u1 {
    position:absolute;
    left:2px;
    top:22px;
    width:126px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:120px;
    top:30px;
    width:130px;
    height:60px
}

.u2_original {
    background-image: url('../Edit_Experience_section_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:120px;
    top:110px;
    width:890px;
    height:580px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:896px;
    height:586px;
}

.u3 {
    position:absolute;
    left:2px;
    top:282px;
    width:886px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:120px;
    top:110px;
    width:890px;
    height:580px
}

.u4_original {
    background-image: url('../Edit_Experience_section_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:140px;
    top:135px;
    width:185px;
    height:185px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:185px;
    height:185px;
}

.u5 {
    position:absolute;
    left:2px;
    top:84px;
    width:181px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:140px;
    top:135px;
    width:185px;
    height:185px
}

.u6 {
    position:absolute;
    left:215px;
    top:214px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_original {
    background-image: url('../Edit_Experience_section_files/u7_original.png');
}

.u7_container {
    position:absolute;
    left:340px;
    top:187px;
    width:644px;
    height:483px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:650px;
    height:489px;
}

.u8 {
    position:absolute;
    left:2px;
    top:234px;
    width:640px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:340px;
    top:187px;
    width:644px;
    height:483px
}

.u9_original {
    background-image: url('../Edit_Experience_section_files/u9_original.png');
}

.u9_container {
    position:absolute;
    left:340px;
    top:187px;
    width:161px;
    height:31px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:37px;
}

.u10 {
    position:absolute;
    left:2px;
    top:8px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:340px;
    top:187px;
    width:161px;
    height:31px
}

.u11_original {
    background-image: url('../Edit_Experience_section_files/u11_original.png');
}

.u11_container {
    position:absolute;
    left:501px;
    top:187px;
    width:161px;
    height:31px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:37px;
}

.u12 {
    position:absolute;
    left:2px;
    top:8px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:501px;
    top:187px;
    width:161px;
    height:31px
}

.u13_original {
    background-image: url('../Edit_Experience_section_files/u11_original.png');
}

.u13_container {
    position:absolute;
    left:662px;
    top:187px;
    width:161px;
    height:31px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:37px;
}

.u14 {
    position:absolute;
    left:2px;
    top:8px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:662px;
    top:187px;
    width:161px;
    height:31px
}

.u15_original {
    background-image: url('../Edit_Experience_section_files/u11_original.png');
}

.u15_container {
    position:absolute;
    left:823px;
    top:187px;
    width:161px;
    height:31px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:37px;
}

.u16 {
    position:absolute;
    left:2px;
    top:8px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:823px;
    top:187px;
    width:161px;
    height:31px
}

.u17_original {
    background-image: url('../Edit_Experience_section_files/u17_original.png');
}

.u17_container {
    position:absolute;
    left:120px;
    top:710px;
    width:890px;
    height:40px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:896px;
    height:46px;
}

.u18 {
    position:absolute;
    left:2px;
    top:12px;
    width:886px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:120px;
    top:710px;
    width:890px;
    height:40px
}

.u19 {
    position:absolute;
    left:340px;
    top:138px;
    width:240px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:140px;
    top:328px;
    width:200px;
    height:317px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_line {
    background-image: url('../Edit_Experience_section_files/u21_line.png');
}

.u21_line {
    position:absolute;
    left:340px;
    top:174px;
    width:650px;
    height:3px;
}

.u21 {
    position:absolute;
    left:340px;
    top:174px;
    width:650px;
    height:3px
}

.u22 {
    position:absolute;
    left:360px;
    top:234px;
    width:600px;
    height:413px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:840px;
    top:24px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_original {
    background-image: url('../Edit_Experience_section_files/u24_original.png');
}

.u24_container {
    position:absolute;
    left:200px;
    top:240px;
    width:742px;
    height:290px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:748px;
    height:296px;
}

.u25 {
    position:absolute;
    left:2px;
    top:137px;
    width:738px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:200px;
    top:240px;
    width:742px;
    height:290px
}

.u26 {
    position:absolute;
    left:230px;
    top:264px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:230px;
    top:300px;
    width:320px;
    height:49px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:230px;
    top:362px;
    width:320px;
    height:49px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:800px;
    top:315px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30 {
    position:absolute;
    left:800px;
    top:374px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u31 {
    position:absolute;
    left:230px;
    top:428px;
    width:320px;
    height:49px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:800px;
    top:438px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u33 {
    position:absolute;
    left:440px;
    top:490px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u34 {
    position:absolute;
    left:556px;
    top:490px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

